In [1]:
import csv
from bs4 import BeautifulSoup  # 왠지 있어야할듯 - csv저장할때 필요하려나 - 근데 개발자모드사용해서 뽑아내면 필요할까?
import selenium
from selenium import webdriver
from selenium.webdriver.common.keys import Keys #키입력시 사용용
import time # 대기시간 필요할거같아서 넣음
import pandas as pd
import csv

In [2]:
#browser = webdriver.Chrome("./chromedriver.exe")
browser = webdriver.Chrome()
browser.get("https://www.jobkorea.co.kr/")
jobkorea = browser.find_element_by_class_name("btnMyOpen")
jobkorea.click()
#여기로 로그인 하는게 편함 - 공식홈페이지에서 개인회원 로그인창 누르면 팝업형식이라 모르는 형식

In [3]:
jobkorea = browser.find_element_by_id("M_ID")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobkorea.send_keys("MY_ID")   #수정
time.sleep(1)

In [4]:
jobkorea = browser.find_element_by_id("M_PWD")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobkorea.send_keys("MY_PWD")  #수정
time.sleep(1)

In [5]:
# 로그인 버튼 클릭
jobkorea = browser.find_element_by_xpath("//*[@id='form']/fieldset/div[3]/button")
jobkorea.click()
# xpath로 하니 쉽게 로그인

In [3]:
browser.get("https://www.jobkorea.co.kr/Top100/?Main_Career_Type=1&Search_Type=1&BizJobtype_Bctgr_Code=10016&BizJobtype_Bctgr_Name=IT%C2%B7%EC%9D%B8%ED%84%B0%EB%84%B7&BizJobtype_Code=0&BizJobtype_Name=IT%C2%B7%EC%9D%B8%ED%84%B0%EB%84%B7+%EC%A0%84%EC%B2%B4&Major_Big_Code=0&Major_Big_Name=%EC%A0%84%EC%B2%B4&Major_Code=0&Major_Name=%EC%A0%84%EC%B2%B4&Edu_Level_Code=9&Edu_Level_Name=%EC%A0%84%EC%B2%B4&Edu_Level_Name=%EC%A0%84%EC%B2%B4&MidScroll=0")
# 일간 채용 100위 이동

In [7]:
Company_name = []  #기업 이름
for i in range(1,101):
    jobkorea_0 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[2]/div[1]/a/b".format(i))
    Company_name.append(jobkorea_0.text)
Company_name

['㈜카스',
 '㈜케이티',
 '와디즈㈜',
 '기아㈜',
 '깨끗한나라㈜',
 '㈜케이씨씨',
 '㈜메쉬코리아',
 '롯데칠성음료㈜',
 '한국은행',
 '㈜한국생활건강',
 '㈜신세계아이앤씨',
 '㈜우아한형제들',
 '㈜종이나라',
 '도미노피자(청오디피케이)',
 'SK D&D㈜',
 '㈜골든하인드',
 '유안타증권㈜',
 '엔아이티서비스㈜',
 '니덱모빌리티코리아㈜',
 '㈜대학내일',
 '디만트코리아㈜',
 '하나금융티아이',
 '오스템임플란트㈜',
 '㈜이루다',
 '㈜케이씨텍',
 '㈜아이센스',
 '㈜에스원',
 '인천글로벌캠퍼스운영 재단법인',
 '㈜세아네트웍스',
 '㈜에듀윌',
 '우아한청년들',
 '㈜탑코',
 '㈜영원아웃도어',
 '에스케이임업㈜',
 '제이스퓨처',
 '국방기술진흥연구소',
 '나이스평가정보㈜',
 '인텔리안테크놀로지스',
 '콘티넨탈 오토모티브 일렉트로닉스 유한회사',
 '인하공업전문대학',
 '롯데렌탈㈜',
 '㈜제이티넷',
 '㈜코코엔터테인먼트코리아',
 '㈜두산 디지털이노베이션BU',
 '㈜ 앤하우스',
 '㈜아이캠퍼',
 '㈜샤바스',
 '㈜밀리의서재',
 '에이치에스애드',
 '아름다운가게',
 '㈜더블유비스킨',
 '에스엔시스㈜',
 'TikTok',
 '㈜에이스토리',
 '㈜싸이버로지텍',
 '㈜컴투스',
 '태광식품',
 'KT커머스㈜',
 '㈜엔씨소프트',
 '대우산업개발㈜',
 '스태츠칩팩코리아',
 '경인여자대학교',
 '㈜삼표',
 '㈜에이치제이에프',
 '오스템임플란트㈜',
 '㈜지엔엠라이프',
 '동양건설산업',
 '㈜디알텍',
 '㈜컴퓨존',
 '하나저축은행',
 '나이스피앤아이㈜',
 '㈜케이제이씨디스플레이코퍼레이션',
 '㈜아이디그룹',
 '㈜카카오',
 '아이케이푸드',
 '㈜무브게임즈',
 '㈜블랙홀릭',
 '페이레터㈜',
 '㈜학산문화사',
 '가비아씨엔에스',
 '㈜이덕아이앤씨',
 '㈜넷케이티아이',
 '넥스트컬쳐',
 '리디㈜',
 '㈜넥서스원',
 '용마로지스㈜',
 '한국벤처경영원(유)',
 '㈜틸론',
 '대구텍',
 '㈜인라이플',
 'SK텔레콤',
 '엔에이치엔서비스 주식회사(NHN Service Corporation)',
 'KCC정보통신',
 '㈜해커스어학원',
 '엘에스이노베이션',
 '㈜올가홀푸드',
 '㈜바이와이제이',
 '㈜넥스트씨앤씨',
 '㈜창보누리',
 '㈜SFA반도체']

In [8]:
Due_date = []   # 마감 기한
for i in range(1,101):
    jobkorea_2 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[4]/span[2]".format(i))
    Due_date.append(jobkorea_2.text)

Due_date

['~07/26(월)',
 '~08/31(화)',
 '~07/31(토)',
 '상시채용',
 '내일 23시 마감',
 '오늘마감',
 '~08/01(일)',
 '~07/26(월)',
 '~07/29(목)',
 '채용 시 마감',
 '~07/27(화)',
 '~10/15(금)',
 '채용 시 마감',
 '~07/26(월)',
 '~10/07(목)',
 '채용 시 마감',
 '~07/28(수)',
 '~07/23(금)',
 '~07/25(일)',
 '상시채용',
 '~07/30(금)',
 '~08/08(일)',
 '~07/25(일)',
 '~07/30(금)',
 '~07/25(일)',
 '~08/01(일)',
 '~07/26(월)',
 '~07/29(목)',
 '~07/25(일)',
 '~07/31(토)',
 '채용 시 마감',
 '~07/31(토)',
 '채용 시 마감',
 '~07/23(금)',
 '상시채용',
 '~08/03(화)',
 '~07/25(일)',
 '~07/28(수)',
 '~07/29(목)',
 '~07/30(금)',
 '~07/23(금)',
 '~07/31(토)',
 '채용 시 마감',
 '~07/25(일)',
 '채용 시 마감',
 '~07/26(월)',
 '채용 시 마감',
 '상시채용',
 '~07/25(일)',
 '~08/01(일)',
 '~08/06(금)',
 '~07/26(월)',
 '상시채용',
 '~07/23(금)',
 '~07/27(화)',
 '~08/27(금)',
 '채용 시 마감',
 '~07/28(수)',
 '~08/05(목)',
 '~07/31(토)',
 '~08/01(일)',
 '~07/23(금)',
 '~07/24(토)',
 '채용 시 마감',
 '~07/25(일)',
 '채용 시 마감',
 '~07/25(일)',
 '~07/31(토)',
 '~07/25(일)',
 '~07/25(일)',
 '채용 시 마감',
 '~07/31(토)',
 '~07/30(금)',
 '상시채용',
 '채용 시 마감',
 '~08/13(금)',
 '상시채용',
 '채용 시 마감',
 '~07/30(금)',
 '오늘마감',
 '~07/30(금)',
 '~07/31(토)',
 '~07/31(토)',
 '~08/15(일)',
 '~07/26(월)',
 '~07/26(월)',
 '~07/25(일)',
 '~08/13(금)',
 '~07/26(월)',
 '~08/01(일)',
 '상시채용',
 '~07/26(월)',
 '~07/30(금)',
 '~07/31(토)',
 '채용 시 마감',
 '오늘마감',
 '~08/01(일)',
 '~07/23(금)',
 '채용 시 마감',
 '~07/25(일)']

In [9]:
pd.DataFrame(Due_date).to_csv('Due_date.csv',index=False,encoding='utf8')

In [10]:
Recruit_title = [] # 채용공고 리스트 선언
for i in range(1,101):
    jobkorea_1 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[1]/a/span".format(i))
    Recruit_title.append(jobkorea_1.text)

Recruit_title

['2021년 7월 수시채용',
 '2021년 KT 신입 / 경력 채용',
 '와디즈 대규모 인재 영입',
 '각 부문별 신입/경력 채용',
 '2021년 깨끗한나라㈜ 수시채용',
 '2021년 경력/신입 수시채용',
 '2021년 부문별 경력/신입 채용',
 '[안성/충주공장] 2021년 하반기 롯데칠성음료 각분야 정규직 채용공고',
 '2022년도 한국은행 신입직원(종합기획직원 G5) 채용',
 '2021년 하반기 각 부문 신입/경력사원 모집',
 '하반기 경력사원(시스템개발/운영, SAP, AI, Cloud, 기획, 경영지원) 채용',
 '각 부문별 경력/신입 인재영입',
 '종이나라 각 부문 신입 및 경력직 채용',
 '도미노피자 각부문(자회사/관계사포함) 공개채용',
 '2021년 하반기 각 부문별 전환형 인턴 및 경력직 공채',
 '[에그드랍] 전 부문 인재 채용',
 '2021년 유안타증권 채용',
 '엔아이티서비스 하반기 채용',
 '니덱모빌리티코리아주식회사 신입/경력 채용',
 '2021 통합 대학내일 상시채용',
 '2021년 하반기 각 부문별 인재 모집',
 '2021년 하나금융TI 신입사원 채용',
 '연구지원 및 영업/마케팅, 경영지원 등 부문 채용',
 '2021년 하반기 각 부문별 인재 모집',
 '(주)케이씨텍 각 분야 신입/경력 채용',
 '2021년 하반기 신입 및 경력 채용',
 '[에스원] 첨단보안직(CS) 신입사원 채용',
 '2021년도 직원 채용공고',
 '각 부문 신입 및 경력 채용',
 '에듀윌 부문별(출판/콘텐츠마케팅/경영지원 등) 인재 모집',
 '부문별 경력/신입 인재영입',
 '2021 탑툰 하반기 각 부문 채용',
 '2021년 3Q 각 부분 신입/경력 채용',
 'SK임업 신입/경력직 모집',
 'C# SW 개발 경력 모집',
 '국방기술진흥연구소 2021년 하반기 수시채용 모집 공고',
 '[NICE평가정보] 2021년 하반기 수시채용',
 '2021년 하반기 각 부문 신입/경력 채용',
 '콘티넨탈 부문별 대규모 신입/경력 인재영입',
 '신규 행정직(기획평가/전산개발) 모집',
 '2021년 각 부문 신입/경력사원 채용',
 '21년 제이티넷 하반기 정기 공채',
 '코코엔터테인먼트코리아 사업확장 인원대거모집',
 '채용연계형 인턴 모집',
 '[메가MGC커피] 각 부문 신입 및 경력사원 모집',
 '[2021년 각 부문] 신입, 경력직 공개채용 - ㈜아이캠퍼',
 '[워라밸/주40시간] 각 부문 경력사원 채용(웹미디어팀/상품기획개발부/영업부)',
 '오디오 콘텐츠 기획, 제작',
 '21년 지투알(HS애드/엘베스트) 채용연계형 대졸인턴 모집',
 '2021년 3분기 아름다운가게 상근활동가 모집',
 '2021 더블유비스킨 부문별 정규직 대규모 채용',
 '[삼성중공업 사내 분사업체]각 분야별 신입 및 경력 채용',
 '2021 틱톡 신입/경력 대규모 인재영입',
 '(주)에이스토리 각부문 신입 및 경력 채용',
 '㈜싸이버로지텍 2021년 신입 및 경력 채용',
 '게임빌-컴투스 각 부문별 경력/신입 인재채용',
 '그래놀라하우스 하반기 각 부문별 정규직 채용',
 '2021년 경력사원 채용[물류기획 및 운영/IT개발(웹퍼블리셔)]',
 '엔씨소프트 부문별 수시 채용',
 '2021년 하반기 신입 및 경력직 채용공고',
 'Technician / Operator 신입 채용',
 '경인여자대학교 교직원 모집',
 '각 부문별 정규직 채용',
 '(주)에이치제이에프(식품가공,육가공) 하반기 분야별 채용 모집',
 'IT/SW, R&D 부문 채용',
 '총무, 패키지/편집디자인, 마케팅 기획, 이커머스 MD 채용',
 '2021년 동양건설산업ㆍ라인건설ㆍEG건설 신입 및 경력사원 채용',
 '각 부문 신입/경력 채용',
 'PHP웹개발자/웹/모바일디자인 채용',
 '2021 채용형 인턴 모집',
 '채권평가 전문기관 NICE피앤아이㈜ 신입 및 경력 직원 채용',
 '영업팀 (영업, 영업관리) , 구매팀, 자원운영본부 (Logistics, 물류팀), 품질팀, FAE 팀, 경영기획팀 모집',
 '디자이너/ 마케터 / 콘텐츠에디터 채용 (아무나와 함께하지 않습니다.)',
 '카카오 기술 직군 모집',
 '[식품] 영업지원 / 구매팀 / 웹디자인 각 부문별 신규 채용',
 '[무브게임즈] 2021년 하반기 각 부문 - 신입, 경력직 채용',
 '미디어커머스 각 부문별 경력/신입 채용',
 '페이레터㈜ 신입 및 경력 모집',
 '2021년도 정규직 신입 및 경력사원 공채',
 '2021년 하반기 가비아씨엔에스 각 부문 신입/경력직 공개 채용',
 '[알레르망] 2021년 하반기 공채 모집',
 '각 부문 신입 및 경력직 채용',
 'IT개발 에이전시 넥스트컬쳐 2021 하반기 신입/경력 채용',
 '[리디] BL 웹소설/웹툰 PD 신입 채용',
 '분야별[소프트웨어 개발/기계설계/영업/전기,전자] 채용[신입/경력]',
 '2021년 부문별 정규직 채용',
 '[2021년 하반기 정규직] 한국벤처경영원 부문별 1차 정기채용',
 '2021 틸론 연구개발 부문 신입/경력 채용',
 '각 부문별 신입/경력 모집',
 '[업계1위/주4.5근무] 2021 하반기 인라이플 JAVA 개발 신입/경력공채',
 '각 부문별 계약직 채용',
 '[청주] 한게임 게임운영(GM) 정규직 채용',
 '보안엔지니어 및 영업관리 신입/경력사원 모집',
 '2021년 해커스교육그룹 신입 및 경력사원 채용',
 '2021년도 하반기 각 부문 채용',
 '[풀무원] ORGA 채용연계형 인턴십',
 '㈜바이와이제이 /영업관리/영업팀/경영기획실/유튜브영상편집/물류팀 채용',
 '[커피문화 창조기업] 각 부문 모집 (신입/경력)',
 '[은평구] 쇼핑몰 총무사무원 (발주관리, 매출관리)/전문영업관리자(온라인판매,업체관리,도소매) 구함',
 '2021년 각 부문 신입 및 경력직원 채용']

In [11]:
Work_field = []  #어떤 일을 하는것인가
for i in range(1,101):
    jobkorea_2 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[2]".format(i))
    Work_field.append(jobkorea_2.text)

Work_field

['소프트웨어·하드웨어 웹프로그래머 응용프로그래머 웹기획·PM 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 DBA·데이터베이스 외',
 '응용프로그래머 시스템프로그래머 DBA·데이터베이스 네트워크·서버·보안 외',
 '웹프로그래머 응용프로그래머 HTML·퍼블리싱·UI개발 빅데이터·AI(인공지능) 외',
 '컨텐츠·사이트운영 경리·회계·결산 재무·세무·IR 구매·자재 외',
 '웹디자인 기획·전략·경영 경리·회계·결산 재무·세무·IR 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 DBA·데이터베이스 외',
 '빅데이터·AI(인공지능) 설치·정비·A/S 시설·보안·경비·안전 반도체·디스플레이 외',
 '네트워크·서버·보안 채권·심사·보험·보상 경리·회계·결산',
 '응용프로그래머 DBA·데이터베이스 웹디자인 ERP·시스템분석·설계 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 DBA·데이터베이스 외',
 '응용프로그래머 빅데이터·AI(인공지능) 웹프로그래머 시스템프로그래머 외',
 'ERP·시스템분석·설계 네트워크·서버·보안 인사·노무·교육 마케팅·광고·분석 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 웹기획·PM 외',
 '응용프로그래머 ERP·시스템분석·설계 시스템프로그래머 빅데이터·AI(인공지능) 외',
 '웹마케팅 컨텐츠·사이트운영 웹디자인 사무·총무·법무 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 웹마케팅 외',
 '응용프로그래머 네트워크·서버·보안 웹프로그래머 시스템프로그래머 외',
 '소프트웨어·하드웨어 시스템프로그래머 응용프로그래머 경리·회계·결산 외',
 '빅데이터·AI(인공지능) 기획·전략·경영 마케팅·광고·분석 홍보·PR 외',
 '컨텐츠·사이트운영 동영상제작·편집 사무·총무·법무 인사·노무·교육 외',
 '응용프로그래머 시스템프로그래머 네트워크·서버·보안 ERP·시스템분석·설계 외',
 '웹디자인 ERP·시스템분석·설계 재무·세무·IR 마케팅·광고·분석 외',
 '시스템프로그래머 응용프로그래머 소프트웨어·하드웨어 사무·총무·법무 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 빅데이터·AI(인공지능) 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 빅데이터·AI(인공지능) 외',
 '소프트웨어·하드웨어 단순홍보·회원관리 고객상담·인바운드 설치·정비·A/S 외',
 '응용프로그래머 네트워크·서버·보안 사무·총무·법무 사무보조·문서작성 외',
 '웹기획·PM ERP·시스템분석·설계 DBA·데이터베이스 빅데이터·AI(인공지능) 외',
 '웹프로그래머 응용프로그래머 웹기획·PM 웹마케팅 외',
 '웹기획·PM 웹마케팅 웹디자인 기획·전략·경영 외',
 '웹프로그래머 DBA·데이터베이스 웹기획·PM HTML·퍼블리싱·UI개발 외',
 '컨텐츠·사이트운영 웹기획·PM 웹마케팅 재무·세무·IR 외',
 '웹마케팅 웹디자인 기획·전략·경영 인사·노무·교육 외',
 '웹프로그래머 응용프로그래머 웹기획·PM HTML·퍼블리싱·UI개발 외',
 '소프트웨어·하드웨어 기획·전략·경영 연구소·R&D 수출입·무역사무 외',
 '빅데이터·AI(인공지능) HTML·퍼블리싱·UI개발 웹마케팅 웹프로그래머 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 네트워크·서버·보안 외',
 '응용프로그래머 시스템프로그래머 네트워크·서버·보안 ERP·시스템분석·설계 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 기획·전략·경영 외',
 '네트워크·서버·보안 웹기획·PM 웹디자인 경리·회계·결산 외',
 '응용프로그래머 웹프로그래머 웹기획·PM 시스템프로그래머 외',
 '웹프로그래머 응용프로그래머 네트워크·서버·보안 웹기획·PM 외',
 'ERP·시스템분석·설계 소프트웨어·하드웨어 시스템프로그래머 네트워크·서버·보안 외',
 '웹마케팅 마케팅·광고·분석 홍보·PR 상품기획·MD 외',
 '웹기획·PM 컨텐츠·사이트운영 웹디자인 동영상제작·편집 외',
 '웹마케팅 컨텐츠·사이트운영 웹디자인 동영상제작·편집 외',
 '웹기획·PM 컨텐츠·사이트운영 인쇄·출판·편집',
 '웹마케팅 빅데이터·AI(인공지능) 인사·노무·교육 경리·회계·결산 외',
 '웹마케팅 컨텐츠·사이트운영 사무·총무·법무 경리·회계·결산 외',
 '웹기획·PM 웹마케팅 컨텐츠·사이트운영 웹디자인 외',
 '시스템프로그래머 소프트웨어·하드웨어 응용프로그래머 DBA·데이터베이스 외',
 'QA·테스터·검증 웹기획·PM 마케팅·광고·분석 제품·서비스영업 외',
 '웹기획·PM 웹마케팅 기획·전략·경영 경리·회계·결산 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 DBA·데이터베이스 외',
 '게임 네트워크·서버·보안 ERP·시스템분석·설계 웹기획·PM 외',
 '웹디자인 경리·회계·결산 사무보조·문서작성 영업관리·지원·영업기획 외',
 'HTML·퍼블리싱·UI개발 웹프로그래머 구매·자재 배송·택배·운송 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 네트워크·서버·보안 외',
 '네트워크·서버·보안 ERP·시스템분석·설계 웹프로그래머 응용프로그래머 외',
 '소프트웨어·하드웨어 생산관리·공정관리·품질관리 설치·정비·A/S 시설·보안·경비·안전 외',
 '웹마케팅 기획·전략·경영 사무·총무·법무 사무보조·문서작성 외',
 '빅데이터·AI(인공지능) 기획·전략·경영 경리·회계·결산',
 '웹마케팅 사무·총무·법무 인사·노무·교육 경리·회계·결산 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 네트워크·서버·보안 외',
 '웹기획·PM 웹마케팅 컨텐츠·사이트운영 마케팅·광고·분석 외',
 '응용프로그래머 시스템프로그래머 건축·설계·인테리어 시공·현장·감리·공무 외',
 '응용프로그래머 웹디자인 소프트웨어·하드웨어 경리·회계·결산 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 웹기획·PM 외',
 '빅데이터·AI(인공지능) 금융·보험영업',
 '응용프로그래머 웹프로그래머 DBA·데이터베이스 빅데이터·AI(인공지능) 외',
 '웹마케팅 사무보조·문서작성 마케팅·광고·분석 해외영업·무역영업 외',
 '웹기획·PM 웹마케팅 컨텐츠·사이트운영 웹디자인 외',
 '네트워크·서버·보안 QA·테스터·검증 소프트웨어·하드웨어',
 '웹디자인 구매·자재 유통·물류·재고 영업관리·지원·영업기획 외',
 '웹기획·PM 컨텐츠·사이트운영 빅데이터·AI(인공지능) 홍보·PR 외',
 '웹프로그래머 응용프로그래머 웹기획·PM 컨텐츠·사이트운영 외',
 '웹프로그래머 응용프로그래머 HTML·퍼블리싱·UI개발 소프트웨어·하드웨어 외',
 '웹마케팅 웹기획·PM 컨텐츠·사이트운영 마케팅·광고·분석 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 DBA·데이터베이스 외',
 '웹기획·PM 웹마케팅 웹디자인 ERP·시스템분석·설계 외',
 '네트워크·서버·보안 IT·솔루션·기술영업 통신기술·네트워크구축',
 '웹프로그래머 응용프로그래머 시스템프로그래머 네트워크·서버·보안 외',
 '컨텐츠·사이트운영 인쇄·출판·편집',
 '응용프로그래머 시스템프로그래머 네트워크·서버·보안 웹기획·PM 외',
 '응용프로그래머 시스템프로그래머 네트워크·서버·보안 ERP·시스템분석·설계 외',
 '웹프로그래머 웹기획·PM 웹마케팅 HTML·퍼블리싱·UI개발 외',
 '웹프로그래머 응용프로그래머 QA·테스터·검증 빅데이터·AI(인공지능) 외',
 '웹프로그래머 응용프로그래머 인사·노무·교육 생산·제조·설비·조립 외',
 '웹프로그래머 응용프로그래머 DBA·데이터베이스 네트워크·서버·보안 외',
 '웹마케팅 컨텐츠·사이트운영 웹디자인 동영상제작·편집 외',
 '게임 사무보조·문서작성 단순홍보·회원관리 아웃바운드TM 외',
 '응용프로그래머 DBA·데이터베이스 네트워크·서버·보안 ERP·시스템분석·설계 외',
 '웹프로그래머 응용프로그래머 시스템프로그래머 네트워크·서버·보안 외',
 '웹프로그래머 웹디자인 QA·테스터·검증 HTML·퍼블리싱·UI개발 외',
 '웹마케팅 마케팅·광고·분석 홍보·PR 상품기획·MD 외',
 '컨텐츠·사이트운영 경리·회계·결산 마케팅·광고·분석 그래픽디자인·CG 외',
 '웹디자인 제품·서비스영업 영업관리·지원·영업기획 판매·서빙·매장관리 외',
 '컨텐츠·사이트운영 사무·총무·법무 사무보조·문서작성',
 '네트워크·서버·보안 전기·소방·통신·안전 반도체·디스플레이']

In [12]:
Fulltime_Parttime = []
for i in range(1,101):
    jobkorea_3 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[3]/span[1]".format(i))
    Fulltime_Parttime.append(jobkorea_3.text)
    
Fulltime_Parttime

['신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '신입',
 '신입·경력',
 '경력무관',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '인턴·신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '신입·경력',
 '신입',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입',
 '신입·경력',
 '인턴·신입·경력',
 '인턴·신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '인턴·신입·경력',
 '신입·경력',
 '신입·경력',
 '신입',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '인턴·신입·경력',
 '신입·경력',
 '인턴·신입·경력',
 '신입·경력',
 '경력무관',
 '인턴·신입',
 '경력무관',
 '경력무관',
 '신입·경력',
 '인턴·신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입',
 '경력무관',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '인턴·신입',
 '신입·경력',
 '신입·경력',
 '인턴·신입·경력',
 '경력무관',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '신입·경력',
 '인턴·신입·경력',
 '신입·경력',
 '인턴·신입',
 '신입·경력',
 '신입·경력',
 '경력무관',
 '신입·경력']

In [15]:
Academic_level = []
for i in range(1,101):
    jobkorea_4 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[3]/span[2]".format(i))
    Academic_level.append(jobkorea_4.text)
    
Academic_level

['초대졸↑',
 '대졸↑',
 '학력무관',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '고졸↑',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '대졸↑',
 '대졸↑',
 '대졸↑',
 '학력무관',
 '초대졸↑',
 '초대졸↑',
 '고졸↑',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '대졸↑',
 '학력무관',
 '대졸↑',
 '대졸↑',
 '대졸↑',
 '학력무관',
 '고졸↑',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '대졸↑',
 '초대졸↑',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '고졸↑',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '고졸↑',
 '학력무관',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '학력무관',
 '고졸↑',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '초대졸↑',
 '학력무관',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '초대졸↑',
 '초대졸↑',
 '학력무관',
 '대졸↑',
 '학력무관',
 '학력무관',
 '학력무관',
 '충남']

In [17]:
Position = []
for i in range(1,101):
    jobkorea_5 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[3]/span[4]".format(i))
    Position.append(jobkorea_5.text)

Position

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[100]/div[3]/div[3]/span[4]"}
  (Session info: chrome=91.0.4472.124)

In [ ]:
Rank = []
for i in range(1,101):
    jobkorea_6 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[1]/span".format(i))
    Rank.append(jobkorea_6.text)
Rank

In [ ]:
Rank = pd.DataFrame(Rank)

In [ ]:
#채용공고 테이블 병합
jobPost = pd.concat([pd.DataFrame(Rank), pd.DataFrame(Company_name), pd.DataFrame(Recruit_title), pd.DataFrame(Work_field), pd.DataFrame(Fulltime_Parttime), pd.DataFrame(Academic_level), pd.DataFrame(Position), pd.DataFrame(duedate)],axis=1)
jobPost

In [ ]:
#테이블 csv생성
jobPost.to_csv('jobPost.csv',index = False, encoding = 'euc-kr')
comp_class = pd.read_csv('company_classifications.csv', encoding = 'euc-kr')
annual_sales = pd.read_csv('annual_sales.csv', encoding = 'euc-kr')
no_of_employees = pd.read_csv('number_of_employees.csv', encoding = 'euc-kr')
company_loc = pd.read_csv('company_location.csv', encoding = 'euc-kr')
rate = pd.read_csv('new_company_rate.csv',encoding = 'euc-kr')
salary = pd.read_csv('new_company_Salary_money.csv', encoding = 'euc-kr')

In [ ]:
name = pd.DataFrame(Company_name)

In [ ]:
#기업정보 테이블 병합
company = pd.concat([name, salary, rate, company_loc, comp_class, annual_sales, no_of_employees], axis=1)
#기업정보 테이블 생성
company.to_csv('Company_info.csv',index = False, encoding = 'euc-kr')

In [ ]:
company_location = []   #기업 위치
for i in range(1, 101):
    location = browser.find_element_by_xpath('/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[3]/div[3]/span[3]'.format(i))
    company_location.append(location.text)

company_location

In [ ]:
company_classifications = []
Annual_sales = []
Number_of_employees = []

In [ ]:
company_classifications = []   # 기업분류 - 도매업, 공공기관, 제조업
Annual_sales = []   #매출액
Number_of_employees = []   #고용직원수

for name in Company_name:
    try:
        browser.get("https://www.jobkorea.co.kr/Search/?stext={0}".format(name))
        time.sleep(2)
        c_info = browser.find_element_by_xpath('/html/body/div[2]/div[2]/div/div/div[2]/div/div[2]/div[1]/div/div[2]/ul/li[2]/button')
        c_info.click()
        time.sleep(2)
        Annual_sale = browser.find_element_by_xpath('/html/body/div[2]/div[2]/div/div/div[2]/div/div[2]/div[2]/div/div[1]/div[1]/div/table/tbody/tr[3]/td[2]/div/div/div[1]')
        Annual_sales.append(Annual_sale.text)
        company_class = browser.find_element_by_xpath('/html/body/div[2]/div[2]/div/div/div[2]/div/div[2]/div[2]/div/div[1]/div[1]/div/table/tbody/tr[1]/td[1]/div/div')
        company_classifications.append(company_class.text)
        NumOfEmployee = browser.find_element_by_xpath('/html/body/div[2]/div[2]/div/div/div[2]/div/div[2]/div[2]/div/div[1]/div[1]/div/table/tbody/tr[1]/td[2]/div/div/div[1]')
        Number_of_employees.append(NumOfEmployee.text)
    except:
        Annual_sales.append("0")
        company_classifications.append("0")
        Number_of_employees.append("0")

In [ ]:
print(company_classifications)

In [ ]:
print(Annual_sales)

In [ ]:
print(Number_of_employees)

In [ ]:
company_classifications = ['그 외 기타 기계 및 장비 도매업', '무선 및 위성 통신업', '경영 컨설팅업', '기타 종이 및 판지 제조업', '0', '0', '0', '시스템 소프트웨어 개발 및 공급업', '컴퓨터시스템 통합 자문 및 구축 서비스업', '-', '쇼핑몰·오픈마켓·소셜커머스', '모바일·APP', '증권 중개업', '조경 건설업', '네트워크·통신서비스', '자동차·조선·철강·항공', '솔루션·SI·CRM·ERP', '솔루션·SI·CRM·ERP', '제약·보건·바이오', '반도체 제조용 기계 제조업', '솔루션·SI·CRM·ERP', '광고·홍보·전시', '호텔업', '0', '0', '0', '기타 식사용 가공처리 조리식품 제조업', '근무복, 작업복 및 유사의복 제조업', '비주거용 건물 임대업', '0', '데이터베이스 및 온라인정보 제공업', '전기·전자·제어', '응용 소프트웨어 개발 및 공급업', '일반 화물자동차 운송업', '전자상거래 소매업', '학교(초·중·고·대학·특수)', '상품 종합 도매업', '0', '일반 영화 및 비디오물 제작업', '음식료·외식·프랜차이즈', '기타 운송장비 임대업', '솔루션·SI·CRM·ERP', '시스템 소프트웨어 개발 및 공급업', '기타 비알코올 음료 제조업', '0', '포털·컨텐츠·커뮤니티', '배전반 및 전기 자동제어반 제조업', '네트워크·통신서비스', '곡물 제분업', '방송·케이블·프로덕션', '컨설팅·연구·조사', '학교(초·중·고·대학·특수)', '상호저축은행 및 기타 저축기관', '게임·애니메이션', '기타 게임 소프트웨어 개발 및 공급업', '생활용품·소비재·기타', '생활화학·화장품', '게임·애니메이션', '0', '건물 건설업', '커피 및 차류 도매업', '0', '재생용 재료 수집 및 판매업', '완제 의약품 제조업', '쇼핑몰·오픈마켓·소셜커머스', '0', '생활용품·소비재·기타', '그 외 기타 특수목적용 기계 제조업', '쇼핑몰·오픈마켓·소셜커머스', '0', '통신.방송장비 및 부품 도매업', '제약·보건·바이오', '0', '식품가공', '0', '솔루션·SI·CRM·ERP', '0', '솔루션·SI·CRM·ERP', '포털 및 기타 인터넷 정보매개 서비스업', '백화점·유통·도소매', '무역·상사', '광고 대행업', '광고 대행업', '솔루션·SI·CRM·ERP', '생활용품·소비재·기타', '쇼핑몰·오픈마켓·소셜커머스', '컴퓨터시스템 통합 자문 및 구축 서비스업', '0', '그 외 기타 분류 안된 사업지원 서비스업', '무선 및 위성 통신업', '-', '섬유·의류·패션', '0', '상품 종합 도매업', '웹에이전시', '컨설팅·연구·조사', '0', '시장조사 및 여론조사업', '0', '방송·케이블·프로덕션']

In [ ]:
Annual_sales = ['1180억6900만', '17조 8천억원', '11억 9천만원', '3,480만원', '0', '0', '0', '151억 2천만원', '3041억', '-', '450억', '5,611억 3천', '1조 515억천', '530억 1천만원', '253억 3천만원', '1600억원', '2044억', '-', '191억 4천만원', '3,198억 9천만원', '588억', '417억 8527만', '8억 7,281만원', '0', '0', '0', '2,328억 3천만원', '4,326억 6천만원', '21억 4천만원', '0', '3,819억 1백만원', '1098억', '75억 8천만원', '2,759억 1천만원', '4,173억 4천만원', '-', '119억6천만', '0', '10억', '350억', '2조 759억원', '949억', '192억 2천만원', '2조 1,619억원', '0', '-', '1,398억 1천만원', '503억', '214억 3천만원', '464억', '3억', '-', '959억 1천만원', '1조 7011억', '-', '250억', '230억', '5079억', '0', '4,014억 8천만원', '68억 3천만원', '0', '333억 5천만원', '3,862억 2천만원', '11000억', '0', '-', '212억 6천만원', '-', '0', '1,029억 4천만원', '432억원', '0', '1,176억', '0', '110억', '0', '130억', '1조 7,791억원', '986억 5천만', '281억원', '2,206억 3천만원', '10억', '330억', '36억', '100억', '1,111억 8백만원', '0', '2,217억 1백만원', '11조 7천억원', '4,950억 4천만원', '-', '0', '119억6천만', '142억 3천만원', '-', '0', '709억 1천만원', '0', '342억 5천만원']

In [ ]:
Number_of_employees =['350명', '22,349명', '37명', '574명', '0', '0', '0', '200명', '974명', '-', '150명', '1,050명', '1,717명', '93명', '38명', '430명', '1,014명', '600명', '100명', '656명', '201명', '290명', '18명', '0', '0', '0', '429명', '223명', '29명', '0', '699명', '310명', '15명', '562명', '113명', '412명', '52명', '0', '390명', '90명', '1,111명', '304명', '78명', '5,703명', '0', '250명', '141명', '70명', '260명', '32명', '20명', '187명', '154명', '3,755명', '35명', '105명', '150명', '1,020명', '0', '449명', '80명', '0', '411명', '864명', '500명', '0', '85명', '108명', '40명', '0', '205명', '200명', '0', '250명', '0', '120명', '0', '70명', '2,848명', '260명', '83명', '568명', '10명', '170명', '10명', '25명', '346명', '0', '473명', '5,266명', '1,450명', '102명', '0', '52명', '100명', '176명', '0', '342명', '0', '93명']

In [ ]:
pd.DataFrame(company_classifications).to_csv('company_classifications.csv',index=False,encoding='euc-kr')
pd.DataFrame(Annual_sales).to_csv('Annual_sales.csv',index=False,encoding='euc-kr')
pd.DataFrame(Number_of_employees).to_csv('Number_of_employees.csv',index=False,encoding='euc-kr')
pd.DataFrame(company_location).to_csv('company_location.csv',index=False,encoding='euc-kr')

In [2]:
#browser = webdriver.Chrome("./chromedriver.exe")
browser = webdriver.Chrome()
browser.implicitly_wait(10)
################### 잡코리아################################

browser.get("https://www.jobkorea.co.kr/")

jobkorea = browser.find_element_by_class_name("btnMyOpen")
jobkorea.click()
#여기로 로그인 하는게 편함 - 공식홈페이지에서 개인회원 로그인창 누르면 팝업형식이라 모르는 형식

jobkorea = browser.find_element_by_id("M_ID")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobkorea.send_keys("MY_ID")   #수정
time.sleep(1)

jobkorea = browser.find_element_by_id("M_PWD")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobkorea.send_keys("MY_PWD")  #수정
time.sleep(1)

# 로그인 버튼 클릭
jobkorea = browser.find_element_by_xpath("//*[@id='form']/fieldset/div[3]/button")
jobkorea.click()
# xpath로 하니 쉽게 로그인

Company_name = [] #기업 리스트 선언

browser.get("https://www.jobkorea.co.kr/Top100/?Main_Career_Type=1&Search_Type=1&BizJobtype_Bctgr_Code=10016&BizJobtype_Bctgr_Name=IT%C2%B7%EC%9D%B8%ED%84%B0%EB%84%B7&BizJobtype_Code=0&BizJobtype_Name=IT%C2%B7%EC%9D%B8%ED%84%B0%EB%84%B7+%EC%A0%84%EC%B2%B4&Major_Big_Code=0&Major_Big_Name=%EC%A0%84%EC%B2%B4&Major_Code=0&Major_Name=%EC%A0%84%EC%B2%B4&Edu_Level_Code=9&Edu_Level_Name=%EC%A0%84%EC%B2%B4&Edu_Level_Name=%EC%A0%84%EC%B2%B4&MidScroll=0")
#링크로 이동

jobkorea1 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[1]/div[1]/span")
jobkorea1

jobkorea2 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[2]/div[1]")
jobkorea2

jobkorea3 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[2]/div[2]/div[1]/a/b")
jobkorea3

jobkorea1.text

jobkorea2.text

jobkorea3.text

Company_name.append(jobkorea3.text)

Company_name

# 여기까지 기록 보관용

Company_name = [] #기업 리스트 선언

for i in range(1,101):
    jobkorea_0 = browser.find_element_by_xpath("/html/body/div[5]/div[1]/div/form/div[2]/div/div[2]/div[1]/ol/li[{0}]/div[2]/div[1]/a/b".format(i))
    Company_name.append(jobkorea_0.text)
#1부터 받아야함 li[1]이 시작
Company_name

######################### 잡플래닛##########################################

browser.get("https://www.jobplanet.co.kr/welcome/index")

#로그인 해야 기업리뷰 볼 수 있다
jobplanet = browser.find_element_by_class_name("btn_txt")
jobplanet.click()

browser.implicitly_wait(10)
browser.implicitly_wait(10)

jobplanet = browser.find_element_by_id("user_email")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobplanet.send_keys("MY_ID")   #수정
time.sleep(1)

jobplanet = browser.find_element_by_id("user_password")  # 꼭 자바스크립트 클래스가 아니라 , class 옆 name 도 가능
jobplanet.send_keys("MY_PWD")  #수정
time.sleep(1)

jobplanet = browser.find_element_by_class_name("btn_sign_up")
jobplanet.click()
time.sleep(1)
# 리뷰, 연봉(대졸기준), 면접, 복지

###############리스트 선언###############
jobplanet_rate_csv = []  #기업리뷰, 전체 통계
jobplanet_Welfare_Salary_csv = []    #기업리뷰 세분화 - 복지 및 급여
jobplanet_Work_Life_csv = []   #기업리뷰 세분화 - 업무와 삶의 균형
jobplanet_Work_Culture_csv = []   #기업리뷰 세분화 - 사내문화
jobplanet_possible_csv = []     #기업리뷰 세분화 - 승진 기회 및 가능성
jobplanet_Management_csv = []      #기업리뷰 세분화 - 경영진
joplanet_Salary_1_csv = []     #사원 대졸인지 확인용  - 왠지 sql에 넣을때 사원-대졸인지 확인용으로 사용될듯
joplanet_Salary_money_csv = []    #사원-대졸 연봉  - 만원기준
joplanet_Interview_csv = []      #기업 면접 난이도 - 0~5 기준이라고 출력하기
jobplanet_Welfare_csv = []     #기업 복지 - 전체 복지 통계


##########################팝업창 제거용############################

jobplanet = browser.find_element_by_id("search_bar_search_query")

jobplanet.send_keys(Company_name[0])

jobplanet.send_keys(Keys.ENTER)

joplanet = browser.find_element_by_xpath("/html/body/div[1]/div[3]/div/div[1]/div[1]/div/div[2]/div[1]/div[1]/span[1]/a/img")
joplanet.click()
time.sleep(5)
# 팝업청 끄기용으로 시간늘리

# 기업창 팝업이 뜸 항상 눌러야 하나  - 이게 한번만 뜨는 상황임 그래서 앞으로 빼내어서 실행 1번만 되게함
jobplanet = browser.find_element_by_class_name("btn_close_x_ty1 ")
jobplanet.click()

####################################################################
############반복문은 15개로 테스트용 ############################## 여기밑에 for문을 15개에서 101로 바꾸면 됩니다

for i in range(0,101):
    print("===============",i)
    #########################
    #참고로 반복문 넣어야함 #
    try:
        #########################
        #참고로 반복문 넣어야함 #
        print(Company_name[i])
        
        jobplanet = browser.find_element_by_id("search_bar_search_query")
        jobplanet.send_keys(Company_name[i])
        jobplanet.send_keys(Keys.ENTER)
        
        joplanet = browser.find_element_by_xpath("/html/body/div[1]/div[3]/div/div[1]/div[1]/div/div[2]/div[1]/div[1]/span[1]/a/img")
        joplanet.click()
        
        #리뷰선택하기 - 다른 회사는 뉴스룸이 먼저 뜨는 경우도 있음
        jobplanet_rate = browser.find_element_by_class_name("viewReviews")
        jobplanet_rate.click()
        time.sleep(2)

        #기업 리뷰, 전체 통계
        jobplanet_rate = browser.find_element_by_class_name("rate_point")
        jobplanet_rate.text
        jobplanet_rate_csv.append(jobplanet_rate.text)

        time.sleep(2)
        
        try:
            #기업리뷰 세분화 - 복지 및 급여
            jobplanet_Welfare_Salary = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div/div/div/div[2]/div[2]/div[1]/div/div[2]/span[2]")
            jobplanet_Welfare_Salary.text
            jobplanet_Welfare_Salary_csv.append(jobplanet_Welfare_Salary.text)
            print("복지 및 급여 0~5기준=",jobplanet_Welfare_Salary.text)

            #기업리뷰 세분화 - 업무와 삶의 균형
            jobplanet_Work_Life = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div/div/div/div[2]/div[2]/div[2]/div/div[2]/span[2]")
            jobplanet_Work_Life.text
            jobplanet_Work_Life_csv.append(jobplanet_Work_Life.text)
            print("업무와 삶의 균형  0~5기준=",jobplanet_Work_Life.text)

            #기업리뷰 세분화 - 사내문화
            jobplanet_Work_Culture = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div/div/div/div[2]/div[2]/div[3]/div/div[2]/span[2]")
            jobplanet_Work_Culture.text
            jobplanet_Work_Culture_csv.append(jobplanet_Work_Culture.text)
            print("사내문화 0~5기준=",jobplanet_Work_Culture.text)

            #기업리뷰 세분화 - 승진 기회 및 가능성
            jobplanet_possible = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div/div/div/div[2]/div[2]/div[4]/div/div[2]/span[2]")
            jobplanet_possible.text
            jobplanet_possible_csv.append(jobplanet_possible.text)
            print("승진 기회 및 가능성 0~5기준=",jobplanet_possible.text)


            #기업리뷰 세분화 - 경영진
            jobplanet_Management = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div/div/div/div[2]/div[2]/div[5]/div/div[2]/span[2]")
            jobplanet_Management.text
            jobplanet_Management_csv.append(jobplanet_Management.text)
            print("경영진 0~5기준=",jobplanet_Management.text)

            # 기업연봉 - 초대졸 기준으로 확인
            joplanet_Salary = browser.find_element_by_class_name("viewSalaries")
            joplanet_Salary.click()
            time.sleep(2)

            #여기서 문제네 첫번째 칸이 초대졸이 맞는가?
            #다행이도 첫번째 칸이 사원-대졸인듯 5개 정도 확인
            #사원 대졸인지 확인용  - 왠지 sql에 넣을때 사원-대졸인지 확인용으로 사용될듯
            #연봉이 없는 경우가 있다 그래서 계속 실행되게 해야함
            try:
                joplanet_Salary_1 = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[4]/article/div[1]/div/div[2]/ul[2]/li[1]/a")
                joplanet_Salary_1.text
                joplanet_Salary_1_csv.append(joplanet_Salary_1.text)

                #사원-대졸 연봉  - 만원기준
                joplanet_Salary_money = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[4]/article/div[1]/div/div[2]/ul[2]/li[2]/strong/strong")
                joplanet_Salary_money.text
                joplanet_Salary_money_csv.append(joplanet_Salary_money.text)

                money = joplanet_Salary_money.text
                print("사원-대졸 연봉 "+ str(money) +"만원")

            except: #연봉이 없을 경우
                print("연봉이 없습니다")
                joplanet_Salary_1_csv.append("--")
                joplanet_Salary_money_csv.append("0")

                        #기업 면접
                joplanet_Interview = browser.find_element_by_class_name("viewInterviews")
                joplanet_Interview.click()
                time.sleep(2)

                #기업 면접 난이도 - 0~5 기준이라고 출력하기
                joplanet_Interview = browser.find_element_by_class_name("vib_num")
                joplanet_Interview.text
                joplanet_Interview_csv.append(joplanet_Interview.text)
                print("기업 면접 난이도 0~5기준=",joplanet_Interview.text)

                #기업 복지 - 전체 복지 통계
                jobplanet_Welfare = browser.find_element_by_class_name("viewWelfare")
                jobplanet_Welfare.click()
                time.sleep(3)

                jobplanet_Welfare = browser.find_element_by_class_name("rate_point")
                jobplanet_Welfare.text
                jobplanet_Welfare_csv.append(jobplanet_Welfare.text)
                print("기업 복지 0~5기준=",jobplanet_Welfare.text)
                print("기업정보 완료")  #print문 잘 사용해봐
                continue

            #기업 면접
            joplanet_Interview = browser.find_element_by_class_name("viewInterviews")
            joplanet_Interview.click()
            time.sleep(2)

            #기업 면접 난이도 - 0~5 기준이라고 출력하기
            joplanet_Interview = browser.find_element_by_class_name("vib_num")
            joplanet_Interview.text
            joplanet_Interview_csv.append(joplanet_Interview.text)
            print("기업 면접 난이도 0~5기준=",joplanet_Interview.text)

            #기업 복지 - 전체 복지 통계
            jobplanet_Welfare = browser.find_element_by_class_name("viewWelfare")
            jobplanet_Welfare.click()
            time.sleep(3)

            jobplanet_Welfare = browser.find_element_by_class_name("rate_point")
            jobplanet_Welfare.text
            jobplanet_Welfare_csv.append(jobplanet_Welfare.text)
            print("기업 복지 0~5기준=",jobplanet_Welfare.text)
            print("기업정보 완료")  #print문 잘 사용해봐
            
        except:  #################골든하인드 같은 - 리뷰가 연도마다 다를경우 ### 페이지 모습이 달라짐
                 #기업리뷰 세분화 - 복지 및 급여
            jobplanet_Welfare_Salary = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div[2]/div[1]/div/div[3]/div[2]/div[1]/div/div[2]/span[2]")
            jobplanet_Welfare_Salary.text
            jobplanet_Welfare_Salary_csv.append(jobplanet_Welfare_Salary.text)
            print("복지 및 급여 0~5기준=",jobplanet_Welfare_Salary.text)

            #기업리뷰 세분화 - 업무와 삶의 균형
            jobplanet_Work_Life = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div[2]/div[1]/div/div[3]/div[2]/div[2]/div/div[2]/span[2]")
            jobplanet_Work_Life.text
            jobplanet_Work_Life_csv.append(jobplanet_Work_Life.text)
            print("업무와 삶의 균형  0~5기준=",jobplanet_Work_Life.text)

            #기업리뷰 세분화 - 사내문화
            jobplanet_Work_Culture = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div[2]/div[1]/div/div[3]/div[2]/div[3]/div/div[2]/span[2]")
            jobplanet_Work_Culture.text
            jobplanet_Work_Culture_csv.append(jobplanet_Work_Culture.text)
            print("사내문화 0~5기준=",jobplanet_Work_Culture.text)

            #기업리뷰 세분화 - 승진 기회 및 가능성
            jobplanet_possible = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div[2]/div[1]/div/div[3]/div[2]/div[4]/div/div[2]/span[2]")
            jobplanet_possible.text
            jobplanet_possible_csv.append(jobplanet_possible.text)
            print("승진 기회 및 가능성 0~5기준=",jobplanet_possible.text)


            #기업리뷰 세분화 - 경영진
            jobplanet_Management = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[1]/div[2]/div[1]/div/div[3]/div[2]/div[5]/div/div[2]/span[2]")
            jobplanet_Management.text
            jobplanet_Management_csv.append(jobplanet_Management.text)
            print("경영진 0~5기준=",jobplanet_Management.text)

            # 기업연봉 - 초대졸 기준으로 확인
            joplanet_Salary = browser.find_element_by_class_name("viewSalaries")
            joplanet_Salary.click()
            time.sleep(2)

            #여기서 문제네 첫번째 칸이 초대졸이 맞는가?
            #다행이도 첫번째 칸이 사원-대졸인듯 5개 정도 확인
            #사원 대졸인지 확인용  - 왠지 sql에 넣을때 사원-대졸인지 확인용으로 사용될듯
            #연봉이 없는 경우가 있다 그래서 계속 실행되게 해야함
            try:
                joplanet_Salary_1 = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[4]/article/div[1]/div/div[2]/ul[2]/li[1]/a")
                joplanet_Salary_1.text
                joplanet_Salary_1_csv.append(joplanet_Salary_1.text)

                #사원-대졸 연봉  - 만원기준
                joplanet_Salary_money = browser.find_element_by_xpath("/html/body/div[1]/div[4]/div/div[1]/div[4]/article/div[1]/div/div[2]/ul[2]/li[2]/strong/strong")
                joplanet_Salary_money.text
                joplanet_Salary_money_csv.append(joplanet_Salary_money.text)

                money = joplanet_Salary_money.text
                print("사원-대졸 연봉 "+ str(money) +"만원")
            
            except: #연봉이 없을 경우
                print("연봉이 없습니다")
                joplanet_Salary_1_csv.append("--")
                joplanet_Salary_money_csv.append("0")

                        #기업 면접
                joplanet_Interview = browser.find_element_by_class_name("viewInterviews")
                joplanet_Interview.click()
                time.sleep(2)

                #기업 면접 난이도 - 0~5 기준이라고 출력하기
                joplanet_Interview = browser.find_element_by_class_name("vib_num")
                joplanet_Interview.text
                joplanet_Interview_csv.append(joplanet_Interview.text)
                print("기업 면접 난이도 0~5기준=",joplanet_Interview.text)

                #기업 복지 - 전체 복지 통계
                jobplanet_Welfare = browser.find_element_by_class_name("viewWelfare")
                jobplanet_Welfare.click()
                time.sleep(3)

                jobplanet_Welfare = browser.find_element_by_class_name("rate_point")
                jobplanet_Welfare.text
                jobplanet_Welfare_csv.append(jobplanet_Welfare.text)
                print("기업 복지 0~5기준=",jobplanet_Welfare.text)
                print("기업정보 완료")  #print문 잘 사용해봐
                continue

            #기업 면접
            joplanet_Interview = browser.find_element_by_class_name("viewInterviews")
            joplanet_Interview.click()
            time.sleep(2)

            #기업 면접 난이도 - 0~5 기준이라고 출력하기
            joplanet_Interview = browser.find_element_by_class_name("vib_num")
            joplanet_Interview.text
            joplanet_Interview_csv.append(joplanet_Interview.text)
            print("기업 면접 난이도 0~5기준=",joplanet_Interview.text)

            #기업 복지 - 전체 복지 통계
            jobplanet_Welfare = browser.find_element_by_class_name("viewWelfare")
            jobplanet_Welfare.click()
            time.sleep(3)

            jobplanet_Welfare = browser.find_element_by_class_name("rate_point")
            jobplanet_Welfare.text
            jobplanet_Welfare_csv.append(jobplanet_Welfare.text)
            print("기업 복지 0~5기준=",jobplanet_Welfare.text)
            print("기업정보 완료")  #print문 잘 사용해봐

        
    except :
        print("기업이 없습니다")    
        jobplanet_rate_csv.append("0")
        jobplanet_Welfare_Salary_csv.append("0")
        jobplanet_Work_Life_csv.append("0")
        jobplanet_Work_Culture_csv.append("0")
        jobplanet_possible_csv.append("0")
        jobplanet_Management_csv.append("0")
        joplanet_Salary_1_csv.append("0")
        joplanet_Salary_money_csv.append("0")
        joplanet_Interview_csv.append("0")
        jobplanet_Welfare_csv.append("0")       # 없는 항목을 0으로 추가한다
        browser_clear = browser.find_element_by_class_name("input_search").clear()   # 없는기업이 검색창에 남아서 지워준다
        continue
        


        
print(jobplanet_rate_csv,
jobplanet_Welfare_Salary_csv,
jobplanet_Work_Life_csv,
jobplanet_Work_Culture_csv,
jobplanet_possible_csv,
jobplanet_Management_csv,
joplanet_Salary_1_csv,
joplanet_Salary_money_csv,
joplanet_Interview_csv,
jobplanet_Welfare_csv )

#만약 기업이 없습니다 뜨면 숫자 확인하기
#마지막에 csv가 000으로 맞춰떠야함

=============== 0
㈜카스
복지 및 급여 0~5기준= 1.7
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.0
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 1.7
사원-대졸 연봉 2,852만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.4
기업정보 완료
=============== 1
㈜케이티
복지 및 급여 0~5기준= 3.0
업무와 삶의 균형  0~5기준= 3.6
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.4
사원-대졸 연봉 4,018만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 2.8
기업정보 완료
=============== 2
와디즈㈜
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 3.4
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 2.6
사원-대졸 연봉 2,839만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 2.9
기업정보 완료
=============== 3
깨끗한나라㈜
복지 및 급여 0~5기준= 2.4
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.3
승진 기회 및 가능성 0~5기준= 2.0
경영진 0~5기준= 1.8
사원-대졸 연봉 3,588만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 3.3
기업정보 완료
=============== 4
기아㈜
복지 및 급여 0~5기준= 4.4
업무와 삶의 균형  0~5기준= 3.8
사내문화 0~5기준= 3.4
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 3.2
사원-대졸 연봉 4,835만원
기업 면접 난이도 0~5기준= 3.3
기업 복지 0~5기준= 3.3
기업정보 완료
=============== 5
㈜메쉬코리아
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 3.5
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.4
사원-대졸 연봉 2,964만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 4.3
기업정보 완료
=============== 6
㈜케이씨씨
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 2.3
사내문화 0~5기준= 2.1
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.2
사원-대졸 연봉 4,007만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 2.8
기업정보 완료
=============== 7
엔아이티서비스㈜
복지 및 급여 0~5기준= 3.2
업무와 삶의 균형  0~5기준= 3.6
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.8
사원-대졸 연봉 2,928만원
기업 면접 난이도 0~5기준= 3.7
기업 복지 0~5기준= 3.9
기업정보 완료
=============== 8
㈜신세계아이앤씨
복지 및 급여 0~5기준= 3.4
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 2.5
사원-대졸 연봉 3,861만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 3.3
기업정보 완료
=============== 9
SK D&D㈜
기업이 없습니다
=============== 10
㈜한국생활건강
복지 및 급여 0~5기준= 1.8
업무와 삶의 균형  0~5기준= 1.6
사내문화 0~5기준= 1.8
승진 기회 및 가능성 0~5기준= 2.2
경영진 0~5기준= 1.7
사원-대졸 연봉 2,602만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 2.6
기업정보 완료
=============== 11
㈜우아한형제들
복지 및 급여 0~5기준= 3.7
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 3.8
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 3.3
사원-대졸 연봉 3,096만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 3.7
기업정보 완료
=============== 12
유안타증권㈜
복지 및 급여 0~5기준= 3.2
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 3.0
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.7
사원-대졸 연봉 3,653만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 4.3
기업정보 완료
=============== 13
에스케이임업㈜
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.3
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 2.3
사원-대졸 연봉 3,750만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 5.0
기업정보 완료
=============== 14
㈜세아네트웍스
복지 및 급여 0~5기준= 1.9
업무와 삶의 균형  0~5기준= 3.0
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 1.8
사원-대졸 연봉 3,229만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 2.9
기업정보 완료
=============== 15
니덱모빌리티코리아㈜
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 2.2
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 1.8
사원-대졸 연봉 3,518만원
기업 면접 난이도 0~5기준= 2.7
기업 복지 0~5기준= 2.5
기업정보 완료
=============== 16
하나금융티아이
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 3.5
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.6
사원-대졸 연봉 3,822만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 3.8
기업정보 완료
=============== 17
㈜두산 디지털이노베이션BU
기업이 없습니다
=============== 18
디만트코리아㈜
복지 및 급여 0~5기준= 1.5
업무와 삶의 균형  0~5기준= 1.5
사내문화 0~5기준= 1.6
승진 기회 및 가능성 0~5기준= 1.7
경영진 0~5기준= 1.4
사원-대졸 연봉 2,490만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 1.6
기업정보 완료
=============== 19
㈜케이씨텍
복지 및 급여 0~5기준= 3.4
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.9
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.7
사원-대졸 연봉 3,391만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.9
기업정보 완료
=============== 20
㈜탑코
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.0
승진 기회 및 가능성 0~5기준= 2.1
경영진 0~5기준= 2.0
사원-대졸 연봉 2,672만원
기업 면접 난이도 0~5기준= 2.5
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 21
㈜대학내일
복지 및 급여 0~5기준= 4.1
업무와 삶의 균형  0~5기준= 3.2
사내문화 0~5기준= 4.0
승진 기회 및 가능성 0~5기준= 3.7
경영진 0~5기준= 3.7
사원-대졸 연봉 3,299만원
기업 면접 난이도 0~5기준= 3.3
기업 복지 0~5기준= 4.1
기업정보 완료
=============== 22
㈜이루다
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 3.0
승진 기회 및 가능성 0~5기준= 3.4
경영진 0~5기준= 2.6
사원-대졸 연봉 2,441만원
기업 면접 난이도 0~5기준= 2.7
기업 복지 0~5기준= -
기업정보 완료
=============== 23
㈜에듀윌
복지 및 급여 0~5기준= 4.2
업무와 삶의 균형  0~5기준= 4.4
사내문화 0~5기준= 4.2
승진 기회 및 가능성 0~5기준= 3.6
경영진 0~5기준= 3.7
사원-대졸 연봉 2,445만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 3.6
기업정보 완료
=============== 24
오스템임플란트㈜
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.1
사원-대졸 연봉 3,044만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 25
우아한청년들
복지 및 급여 0~5기준= 3.7
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 3.8
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 3.3
사원-대졸 연봉 3,096만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 3.7
기업정보 완료
=============== 26
도미노피자(청오디피케이)
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.8
승진 기회 및 가능성 0~5기준= 2.9
경영진 0~5기준= 2.5
사원-대졸 연봉 2,850만원
기업 면접 난이도 0~5기준= 2.2
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 27
㈜영원아웃도어
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 2.2
경영진 0~5기준= 1.9
사원-대졸 연봉 3,282만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 28
인천글로벌캠퍼스운영 재단법인
기업이 없습니다
=============== 29
농림수산식품교육문화정보원
복지 및 급여 0~5기준= 2.0
업무와 삶의 균형  0~5기준= 2.3
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 2.1
경영진 0~5기준= 2.1
사원-대졸 연봉 2,979만원
기업 면접 난이도 0~5기준= 3.3
기업 복지 0~5기준= 2.5
기업정보 완료
=============== 30
나이스평가정보㈜
복지 및 급여 0~5기준= 3.6
업무와 삶의 균형  0~5기준= 3.6
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 2.5
경영진 0~5기준= 2.7
사원-대졸 연봉 3,402만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 3.8
기업정보 완료
=============== 31
인텔리안테크놀로지스
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.7
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.4
사원-대졸 연봉 3,171만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 2.6
기업정보 완료
=============== 32
제이스퓨처
복지 및 급여 0~5기준= 4.7
업무와 삶의 균형  0~5기준= 5.0
사내문화 0~5기준= 4.3
승진 기회 및 가능성 0~5기준= 4.3
경영진 0~5기준= 4.7
사원-대졸 연봉 5,000만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= -
기업정보 완료
=============== 33
용마로지스㈜
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 1.9
사내문화 0~5기준= 1.9
승진 기회 및 가능성 0~5기준= 2.7
경영진 0~5기준= 1.9
사원-대졸 연봉 3,447만원
기업 면접 난이도 0~5기준= 2.7
기업 복지 0~5기준= 1.8
기업정보 완료
=============== 34
KT커머스㈜
복지 및 급여 0~5기준= 2.3
업무와 삶의 균형  0~5기준= 3.7
사내문화 0~5기준= 2.8
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 2.2
사원-대졸 연봉 2,876만원
기업 면접 난이도 0~5기준= 3.3
기업 복지 0~5기준= 2.2
기업정보 완료
=============== 35
인하공업전문대학
복지 및 급여 0~5기준= 3.3
업무와 삶의 균형  0~5기준= 4.1
사내문화 0~5기준= 3.4
승진 기회 및 가능성 0~5기준= 2.2
경영진 0~5기준= 3.0
사원-대졸 연봉 2,805만원
기업 면접 난이도 0~5기준= 2.4
기업 복지 0~5기준= -
기업정보 완료
=============== 36
㈜골든하인드
복지 및 급여 0~5기준= 3.4
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.2
사원-대졸 연봉 3,331만원
기업 면접 난이도 0~5기준= 2.5
기업 복지 0~5기준= -
기업정보 완료
=============== 37
오스템임플란트㈜
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.1
사원-대졸 연봉 3,044만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 38
㈜코코엔터테인먼트코리아
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 1.0
승진 기회 및 가능성 0~5기준= 2.5
경영진 0~5기준= 1.0
연봉이 없습니다
기업 면접 난이도 0~5기준= 1.0
기업 복지 0~5기준= -
기업정보 완료
=============== 39
㈜ 앤하우스
복지 및 급여 0~5기준= 3.1
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.2
사원-대졸 연봉 2,856만원
기업 면접 난이도 0~5기준= 2.2
기업 복지 0~5기준= 1.6
기업정보 완료
=============== 40
롯데렌탈㈜
복지 및 급여 0~5기준= 2.8
업무와 삶의 균형  0~5기준= 3.5
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 2.7
경영진 0~5기준= 2.7
사원-대졸 연봉 3,540만원
기업 면접 난이도 0~5기준= 2.7
기업 복지 0~5기준= 3.3
기업정보 완료
=============== 41
㈜싸이버로지텍
복지 및 급여 0~5기준= 3.5
업무와 삶의 균형  0~5기준= 3.8
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.1
사원-대졸 연봉 4,085만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 3.4
기업정보 완료
=============== 42
㈜밀리의서재
복지 및 급여 0~5기준= 3.7
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 3.2
경영진 0~5기준= 2.6
사원-대졸 연봉 3,860만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.0
기업정보 완료
=============== 43
롯데칠성음료㈜
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.3
사원-대졸 연봉 3,471만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.9
기업정보 완료
=============== 44
㈜더블유비스킨
복지 및 급여 0~5기준= 1.0
업무와 삶의 균형  0~5기준= 1.0
사내문화 0~5기준= 1.0
승진 기회 및 가능성 0~5기준= 1.0
경영진 0~5기준= 1.0
사원-대졸 연봉 2,460만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= -
기업정보 완료
=============== 45
TikTok
복지 및 급여 0~5기준= 3.1
업무와 삶의 균형  0~5기준= 2.3
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 3.1
경영진 0~5기준= 2.8
사원-대졸 연봉 3,420만원
기업 면접 난이도 0~5기준= 3.1
기업 복지 0~5기준= 4.7
기업정보 완료
=============== 46
에스엔시스㈜
복지 및 급여 0~5기준= 2.1
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.2
경영진 0~5기준= 1.7
사원-대졸 연봉 3,220만원
기업 면접 난이도 0~5기준= 3.1
기업 복지 0~5기준= -
기업정보 완료
=============== 47
㈜제이티넷

복지 및 급여 0~5기준= 2.4
업무와 삶의 균형  0~5기준= 2.9
사내문화 0~5기준= 2.7
승진 기회 및 가능성 0~5기준= 2.5
경영진 0~5기준= 2.4
사원-대졸 연봉 2,645만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 3.4
기업정보 완료
=============== 48
태광식품
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 3.0
사내문화 0~5기준= 2.5
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.0
연봉이 없습니다
기업 면접 난이도 0~5기준= 2.0
기업 복지 0~5기준= -
기업정보 완료
=============== 49
㈜에이스토리
복지 및 급여 0~5기준= 3.6
업무와 삶의 균형  0~5기준= 3.2
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 3.4
경영진 0~5기준= 2.6
연봉이 없습니다
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 1.5
기업정보 완료
=============== 50
한국벤처경영원(유)
복지 및 급여 0~5기준= 2.0
업무와 삶의 균형  0~5기준= 2.3
사내문화 0~5기준= 2.3
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 2.0
사원-대졸 연봉 2,535만원
기업 면접 난이도 0~5기준= 2.5
기업 복지 0~5기준= -
기업정보 완료
=============== 51
경인여자대학교
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 3.4
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 2.1
경영진 0~5기준= 2.4
사원-대졸 연봉 2,220만원
기업 면접 난이도 0~5기준= 2.4
기업 복지 0~5기준= -
기업정보 완료
=============== 52
하나저축은행
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 1.9
사원-대졸 연봉 3,541만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= -
기업정보 완료
=============== 53
㈜엔씨소프트
복지 및 급여 0~5기준= 4.0
업무와 삶의 균형  0~5기준= 3.4
사내문화 0~5기준= 3.4
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 2.9
사원-대졸 연봉 3,464만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 3.9
기업정보 완료
=============== 54
㈜노벨피아
기업이 없습니다
=============== 55
㈜아이캠퍼
복지 및 급여 0~5기준= 3.1
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 2.8
승진 기회 및 가능성 0~5기준= 2.6
경영진 0~5기준= 2.9
사원-대졸 연봉 3,218만원
기업 면접 난이도 0~5기준= 3.4
기업 복지 0~5기준= -
기업정보 완료
=============== 56
㈜이엔에스코리아
복지 및 급여 0~5기준= 2.1
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.5
경영진 0~5기준= 2.0
사원-대졸 연봉 2,368만원
기업 면접 난이도 0~5기준= 1.9
기업 복지 0~5기준= -
기업정보 완료
=============== 57
㈜컴투스
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 3.2
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 2.5
사원-대졸 연봉 2,991만원
기업 면접 난이도 0~5기준= 3.1
기업 복지 0~5기준= 3.4
기업정보 완료
=============== 58
㈜제이슨컴퍼니
복지 및 급여 0~5기준= 1.0
업무와 삶의 균형  0~5기준= 1.0
사내문화 0~5기준= 1.0
승진 기회 및 가능성 0~5기준= 1.0
경영진 0~5기준= 1.0
연봉이 없습니다
기업 면접 난이도 0~5기준= -
기업 복지 0~5기준= -
기업정보 완료
=============== 59
대우산업개발㈜
복지 및 급여 0~5기준= 3.5
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.5
사원-대졸 연봉 4,050만원
기업 면접 난이도 0~5기준= 2.7
기업 복지 0~5기준= 3.3
기업정보 완료
=============== 60
㈜넥스트씨앤씨
복지 및 급여 0~5기준= 1.9
업무와 삶의 균형  0~5기준= 1.7
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.1
경영진 0~5기준= 2.0
사원-대졸 연봉 2,420만원
기업 면접 난이도 0~5기준= 3.8
기업 복지 0~5기준= -
기업정보 완료
=============== 61
동양건설산업
복지 및 급여 0~5기준= 2.6
업무와 삶의 균형  0~5기준= 2.1
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 2.0
사원-대졸 연봉 3,742만원
기업 면접 난이도 0~5기준= 2.5
기업 복지 0~5기준= -
기업정보 완료
=============== 62
아름다운가게
복지 및 급여 0~5기준= 2.6
업무와 삶의 균형  0~5기준= 3.8
사내문화 0~5기준= 3.7
승진 기회 및 가능성 0~5기준= 2.9
경영진 0~5기준= 2.9
사원-대졸 연봉 2,420만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= 2.8
기업정보 완료
=============== 63
㈜서흥
복지 및 급여 0~5기준= 3.0
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.1
승진 기회 및 가능성 0~5기준= 2.4
경영진 0~5기준= 2.2
사원-대졸 연봉 3,373만원
기업 면접 난이도 0~5기준= 2.4
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 64
㈜컴퓨존
복지 및 급여 0~5기준= 2.4
업무와 삶의 균형  0~5기준= 2.9
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 1.9
경영진 0~5기준= 2.2
사원-대졸 연봉 2,978만원
기업 면접 난이도 0~5기준= 2.3
기업 복지 0~5기준= 2.8
기업정보 완료
=============== 65
㈜지엔엠라이프
복지 및 급여 0~5기준= 3.6
업무와 삶의 균형  0~5기준= 3.7
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 3.5
경영진 0~5기준= 3.4
사원-대졸 연봉 2,953만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 4.3
기업정보 완료
=============== 66
㈜샤바스
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.7
경영진 0~5기준= 2.4
사원-대졸 연봉 2,540만원
기업 면접 난이도 0~5기준= 2.0
기업 복지 0~5기준= -
기업정보 완료
=============== 67
㈜파멕스
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 1.6
사내문화 0~5기준= 1.6
승진 기회 및 가능성 0~5기준= 2.4
경영진 0~5기준= 1.7
사원-대졸 연봉 2,941만원
기업 면접 난이도 0~5기준= 2.3
기업 복지 0~5기준= -
기업정보 완료
=============== 68
㈜블랙홀릭
복지 및 급여 0~5기준= 3.4
업무와 삶의 균형  0~5기준= 2.6
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.5
사원-대졸 연봉 3,640만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= -
기업정보 완료
=============== 69
㈜해커스어학원
복지 및 급여 0~5기준= 2.2
업무와 삶의 균형  0~5기준= 2.3
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.9
경영진 0~5기준= 2.1
사원-대졸 연봉 2,714만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.7
기업정보 완료
=============== 70
㈜넷케이티아이
복지 및 급여 0~5기준= 3.2
업무와 삶의 균형  0~5기준= 2.7
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 3.2
경영진 0~5기준= 2.9
사원-대졸 연봉 2,796만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 4.2
기업정보 완료
=============== 71
㈜디알텍
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.9
승진 기회 및 가능성 0~5기준= 2.8
경영진 0~5기준= 2.2
사원-대졸 연봉 3,144만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 2.9
기업정보 완료
=============== 72
㈜인라이플
복지 및 급여 0~5기준= 3.1
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 2.7
승진 기회 및 가능성 0~5기준= 3.1
경영진 0~5기준= 2.0
사원-대졸 연봉 2,810만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 3.4
기업정보 완료
=============== 73
㈜에이치제이에프
복지 및 급여 0~5기준= 2.6
업무와 삶의 균형  0~5기준= 2.0
사내문화 0~5기준= 2.1
승진 기회 및 가능성 0~5기준= 2.4
경영진 0~5기준= 2.1
사원-대졸 연봉 2,872만원
기업 면접 난이도 0~5기준= 2.1
기업 복지 0~5기준= 4.0
기업정보 완료
=============== 74
대구텍
복지 및 급여 0~5기준= 3.7
업무와 삶의 균형  0~5기준= 4.3
사내문화 0~5기준= 3.5
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.2
사원-대졸 연봉 3,731만원
기업 면접 난이도 0~5기준= 3.3
기업 복지 0~5기준= 2.0
기업정보 완료
=============== 75
가비아씨엔에스
복지 및 급여 0~5기준= 3.8
업무와 삶의 균형  0~5기준= 3.9
사내문화 0~5기준= 3.3
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.2
사원-대졸 연봉 3,206만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 3.9
기업정보 완료
=============== 76
㈜이덕아이앤씨
복지 및 급여 0~5기준= 1.8
업무와 삶의 균형  0~5기준= 2.0
사내문화 0~5기준= 1.8
승진 기회 및 가능성 0~5기준= 1.6
경영진 0~5기준= 1.5
사원-대졸 연봉 2,968만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 1.8
기업정보 완료
=============== 77
㈜틸론
복지 및 급여 0~5기준= 1.9
업무와 삶의 균형  0~5기준= 1.9
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 2.5
경영진 0~5기준= 1.8
사원-대졸 연봉 2,436만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 4.2
기업정보 완료
=============== 78
㈜카카오
복지 및 급여 0~5기준= 3.5
업무와 삶의 균형  0~5기준= 4.3
사내문화 0~5기준= 4.1
승진 기회 및 가능성 0~5기준= 3.2
경영진 0~5기준= 3.0
사원-대졸 연봉 4,481만원
기업 면접 난이도 0~5기준= 3.4
기업 복지 0~5기준= 4.0
기업정보 완료
=============== 79
㈜올가홀푸드
복지 및 급여 0~5기준= 1.8
업무와 삶의 균형  0~5기준= 1.8
사내문화 0~5기준= 1.9
승진 기회 및 가능성 0~5기준= 2.0
경영진 0~5기준= 1.6
사원-대졸 연봉 2,493만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.2
기업정보 완료
=============== 80
㈜케이제이씨디스플레이코퍼레이션
복지 및 급여 0~5기준= 2.5
업무와 삶의 균형  0~5기준= 1.8
사내문화 0~5기준= 2.2
승진 기회 및 가능성 0~5기준= 2.7
경영진 0~5기준= 2.0
사원-대졸 연봉 2,621만원
기업 면접 난이도 0~5기준= 2.4
기업 복지 0~5기준= 3.9
기업정보 완료
=============== 81
에이치에스애드
복지 및 급여 0~5기준= 3.5
업무와 삶의 균형  0~5기준= 2.7
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 3.2
경영진 0~5기준= 2.8
사원-대졸 연봉 3,785만원
기업 면접 난이도 0~5기준= 3.0
기업 복지 0~5기준= 3.9
기업정보 완료
=============== 82
㈜아이디그룹
복지 및 급여 0~5기준= 3.0
업무와 삶의 균형  0~5기준= 3.0
사내문화 0~5기준= 4.0
승진 기회 및 가능성 0~5기준= 4.0
경영진 0~5기준= 3.5
사원-대졸 연봉 2,340만원
기업 면접 난이도 0~5기준= 2.0
기업 복지 0~5기준= -
기업정보 완료
=============== 83
㈜평화이즈
복지 및 급여 0~5기준= 2.6
업무와 삶의 균형  0~5기준= 3.2
사내문화 0~5기준= 2.8
승진 기회 및 가능성 0~5기준= 2.9
경영진 0~5기준= 2.3
사원-대졸 연봉 2,959만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 4.3
기업정보 완료
=============== 84
㈜브이에스컴퍼니
복지 및 급여 0~5기준= 3.5
업무와 삶의 균형  0~5기준= 3.5
사내문화 0~5기준= 3.5
승진 기회 및 가능성 0~5기준= 3.5
경영진 0~5기준= 3.5
연봉이 없습니다
기업 면접 난이도 0~5기준= -
기업 복지 0~5기준= -
기업정보 완료
=============== 85
(주)헤어플러스
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 3.3
사내문화 0~5기준= 2.7
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 2.5
사원-대졸 연봉 2,588만원
기업 면접 난이도 0~5기준= 2.0
기업 복지 0~5기준= -
기업정보 완료
=============== 86
KCC정보통신
복지 및 급여 0~5기준= 2.0
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.9
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 2.2
사원-대졸 연봉 2,809만원
기업 면접 난이도 0~5기준= 2.8
기업 복지 0~5기준= 2.2
기업정보 완료
=============== 87
㈜더캐리
복지 및 급여 0~5기준= 1.7
업무와 삶의 균형  0~5기준= 2.5
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 1.8
경영진 0~5기준= 2.1
사원-대졸 연봉 2,678만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 2.5
기업정보 완료
=============== 88
한국전자금융㈜
복지 및 급여 0~5기준= 2.8
업무와 삶의 균형  0~5기준= 2.4
사내문화 0~5기준= 2.6
승진 기회 및 가능성 0~5기준= 2.0
경영진 0~5기준= 2.2
사원-대졸 연봉 2,639만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 2.6
기업정보 완료
=============== 89
SK텔레콤
복지 및 급여 0~5기준= 4.4
업무와 삶의 균형  0~5기준= 3.8
사내문화 0~5기준= 3.9
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 3.3
사원-대졸 연봉 4,205만원
기업 면접 난이도 0~5기준= 3.4
기업 복지 0~5기준= 4.1
기업정보 완료
=============== 90
한국원자력연구원
복지 및 급여 0~5기준= 4.3
업무와 삶의 균형  0~5기준= 4.2
사내문화 0~5기준= 3.8
승진 기회 및 가능성 0~5기준= 3.3
경영진 0~5기준= 3.2
사원-대졸 연봉 4,095만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= 4.4
기업정보 완료
=============== 91
㈜바이와이제이
복지 및 급여 0~5기준= 1.9
업무와 삶의 균형  0~5기준= 2.1
사내문화 0~5기준= 2.1
승진 기회 및 가능성 0~5기준= 2.1
경영진 0~5기준= 1.7
사원-대졸 연봉 2,336만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 4.0
기업정보 완료
=============== 92
주식회사 위펀
기업이 없습니다
=============== 93
㈜골든하인드
복지 및 급여 0~5기준= 3.4
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 3.1
승진 기회 및 가능성 0~5기준= 3.0
경영진 0~5기준= 3.2

사원-대졸 연봉 3,331만원
기업 면접 난이도 0~5기준= 2.5
기업 복지 0~5기준= -
기업정보 완료
=============== 94
주식회사 씨티티디
기업이 없습니다
=============== 95
한국뷰로베리타스㈜씨피에스시험소
기업이 없습니다
=============== 96
㈜메이블
복지 및 급여 0~5기준= 3.0
업무와 삶의 균형  0~5기준= 3.0
사내문화 0~5기준= 3.0
승진 기회 및 가능성 0~5기준= 3.2
경영진 0~5기준= 2.8
사원-대졸 연봉 2,664만원
기업 면접 난이도 0~5기준= 3.2
기업 복지 0~5기준= -
기업정보 완료
=============== 97
KANTAR KOREA
복지 및 급여 0~5기준= 2.7
업무와 삶의 균형  0~5기준= 2.2
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 3.4
경영진 0~5기준= 2.8
사원-대졸 연봉 3,007만원
기업 면접 난이도 0~5기준= 2.9
기업 복지 0~5기준= -
기업정보 완료
=============== 98
㈜자라다교육
복지 및 급여 0~5기준= 1.9
업무와 삶의 균형  0~5기준= 2.8
사내문화 0~5기준= 3.2
승진 기회 및 가능성 0~5기준= 2.3
경영진 0~5기준= 2.2
사원-대졸 연봉 2,064만원
기업 면접 난이도 0~5기준= 2.4
기업 복지 0~5기준= 1.6
기업정보 완료
=============== 99
더이앤엠㈜
복지 및 급여 0~5기준= 2.9
업무와 삶의 균형  0~5기준= 2.9
사내문화 0~5기준= 2.4
승진 기회 및 가능성 0~5기준= 2.2
경영진 0~5기준= 1.9
사원-대졸 연봉 2,933만원
기업 면접 난이도 0~5기준= 2.6
기업 복지 0~5기준= 3.0
기업정보 완료
=============== 100
기업이 없습니다
['2.3', '3.2', '3.1', '2.1', '4.0', '3.0', '2.6', '3.1', '2.8', '0', '1.8', '3.6', '3.2', '2.9', '2.5', '2.2', '3.1', '0', '1.5', '3.0', '2.2', '3.8', '2.8', '4.4', '2.6', '3.6', '3.0', '2.5', '0', '2.4', '3.4', '2.7', '4.7', '2.4', '2.7', '3.7', '3.2', '2.6', '1.0', '3.6', '3.1', '3.2', '3.1', '2.7', '1.0', '3.3', '2.3', '2.6', '2.5', '3.2', '2.0', '3.0', '2.3', '3.6', '0', '2.4', '2.2', '3.1', '1.0', '2.8', '2.1', '2.7', '3.3', '2.7', '2.5', '3.6', '2.7', '2.0', '2.7', '2.5', '3.3', '2.8', '2.7', '2.1', '4.0', '3.5', '1.6', '2.2', '3.8', '1.9', '2.3', '3.4', '3.5', '2.9', '4.5', '2.8', '2.7', '1.9', '2.6', '4.0', '4.1', '2.0', '0', '3.2', '0', '0', '3.2', '3.2', '2.5', '2.4', '0'] ['1.7', '3.0', '2.7', '2.4', '4.4', '2.7', '2.9', '3.2', '3.4', '0', '1.8', '3.7', '3.2', '2.9', '1.9', '2.5', '2.7', '0', '1.5', '3.4', '2.5', '4.1', '2.9', '4.2', '2.2', '3.7', '2.9', '2.7', '0', '2.0', '3.6', '2.7', '4.7', '2.9', '2.3', '3.3', '3.4', '2.2', '2.5', '3.1', '2.8', '3.5', '3.7', '2.7', '1.0', '3.1', '2.1', '2.4', '2.5', '3.6', '2.0', '2.7', '2.2', '4.0', '0', '3.1', '2.1', '2.9', '1.0', '3.5', '1.9', '2.6', '2.6', '3.0', '2.4', '3.6', '2.2', '2.2', '3.4', '2.2', '3.2', '2.5', '3.1', '2.6', '3.7', '3.8', '1.8', '1.9', '3.5', '1.8', '2.5', '3.5', '3.0', '2.6', '3.5', '2.9', '2.0', '1.7', '2.8', '4.4', '4.3', '1.9', '0', '3.4', '0', '0', '3.0', '2.7', '1.9', '2.9', '0'] ['2.6', '3.6', '2.4', '2.4', '3.8', '3.5', '2.3', '3.6', '2.8', '0', '1.6', '3.3', '3.3', '2.6', '3.0', '2.2', '3.5', '0', '1.5', '2.5', '2.4', '3.2', '2.5', '4.4', '2.5', '3.3', '2.6', '2.5', '0', '2.3', '3.6', '2.6', '5.0', '1.9', '3.7', '4.1', '2.8', '2.5', '2.5', '3.3', '3.5', '3.8', '2.8', '2.5', '1.0', '2.3', '3.3', '2.9', '3.0', '3.2', '2.3', '3.4', '2.4', '3.4', '0', '3.3', '2.6', '3.2', '1.0', '2.6', '1.7', '2.1', '3.8', '2.5', '2.9', '3.7', '2.4', '1.6', '2.6', '2.3', '2.7', '2.4', '2.8', '2.0', '4.3', '3.9', '2.0', '1.9', '4.3', '1.8', '1.8', '2.7', '3.0', '3.2', '3.5', '3.3', '2.5', '2.5', '2.4', '3.8', '4.2', '2.1', '0', '2.8', '0', '0', '3.0', '2.2', '2.8', '2.9', '0'] ['2.0', '3.1', '3.4', '2.3', '3.4', '3.1', '2.1', '3.3', '2.5', '0', '1.8', '3.8', '3.0', '2.3', '2.2', '2.2', '3.3', '0', '1.6', '2.9', '2.0', '4.0', '3.0', '4.2', '2.5', '3.8', '2.8', '2.4', '0', '2.5', '3.3', '2.7', '4.3', '1.9', '2.8', '3.4', '3.1', '2.5', '1.0', '3.3', '3.3', '3.2', '3.1', '2.5', '1.0', '3.1', '2.2', '2.7', '2.5', '2.4', '2.3', '3.2', '2.6', '3.4', '0', '2.8', '2.2', '3.3', '1.0', '2.6', '2.2', '2.4', '3.7', '2.1', '2.2', '3.2', '2.6', '1.6', '2.6', '2.6', '3.3', '2.9', '2.7', '2.1', '3.5', '3.3', '1.8', '2.4', '4.1', '1.9', '2.2', '3.2', '4.0', '2.8', '3.5', '2.7', '2.9', '2.4', '2.6', '3.9', '3.8', '2.1', '0', '3.1', '0', '0', '3.0', '3.2', '3.2', '2.4', '0'] ['2.3', '2.8', '3.3', '2.0', '3.3', '2.8', '2.6', '2.6', '2.3', '0', '2.2', '3.3', '2.8', '3.0', '2.3', '2.3', '2.8', '0', '1.7', '2.8', '2.1', '3.7', '3.4', '3.6', '2.8', '3.3', '2.9', '2.2', '0', '2.1', '2.5', '2.6', '4.3', '2.7', '2.3', '2.2', '3.0', '2.8', '2.5', '3.0', '2.7', '2.6', '3.2', '2.6', '1.0', '3.1', '2.2', '2.5', '3.0', '3.4', '2.3', '2.1', '2.3', '3.0', '0', '2.6', '2.5', '3.0', '1.0', '2.8', '2.1', '3.0', '2.9', '2.4', '1.9', '3.5', '2.7', '2.4', '2.8', '2.9', '3.2', '2.8', '3.1', '2.4', '3.0', '3.0', '1.6', '2.5', '3.2', '2.0', '2.7', '3.2', '4.0', '2.9', '3.5', '3.3', '3.0', '1.8', '2.0', '3.3', '3.3', '2.1', '0', '3.0', '0', '0', '3.2', '3.4', '2.3', '2.2', '0'] ['1.7', '2.4', '2.6', '1.8', '3.2', '2.4', '2.2', '2.8', '2.5', '0', '1.7', '3.3', '2.7', '2.3', '1.8', '1.8', '2.6', '0', '1.4', '2.7', '2.0', '3.7', '2.6', '3.7', '2.1', '3.3', '2.5', '1.9', '0', '2.1', '2.7', '2.4', '4.7', '1.9', '2.2', '3.0', '3.2', '2.1', '1.0', '3.2', '2.7', '2.1', '2.6', '2.3', '1.0', '2.8', '1.7', '2.4', '3.0', '2.6', '2.0', '2.4', '1.9', '2.9', '0', '2.9', '2.0', '2.5', '1.0', '2.5', '2.0', '2.0', '2.9', '2.2', '2.2', '3.4', '2.4', '1.7', '2.5', '2.1', '2.9', '2.2', '2.0', '2.1', '3.2', '3.2', '1.5', '1.8', '3.0', '1.6', '2.0', '2.8', '3.5', '2.3', '3.5', '2.5', '2.2', '2.1', '2.2', '3.3', '3.2', '1.7', '0', '3.2', '0', '0', '2.8', '2.8', '2.2', '1.9', '0'] ['사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '0', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '0', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '0', '사원-대졸', '사원-대졸', '사원-대졸', '차장', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '--', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-전문대졸', '사원-대졸', '사원-대졸', '사원-대졸', '--', '--', '사원-고졸', '사원-대졸', '사원-대졸', '사원-대졸', '0', '사원-대졸', '사원-대졸', '사원-대졸', '--', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '대리', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-전문대졸', '사원-대졸', '--', '사원-전문대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '0', '사원-대졸', '0', '0', '사원-대졸', '사원-대졸', '사원-대졸', '사원-대졸', '0'] ['2,852', '4,018', '2,839', '3,588', '4,835', '2,964', '4,007', '2,928', '3,861', '0', '2,602', '3,096', '3,653', '3,750', '3,229', '3,518', '3,822', '0', '2,490', '3,391', '2,672', '3,299', '2,441', '2,445', '3,044', '3,096', '2,850', '3,282', '0', '2,979', '3,402', '3,171', '5,000', '3,447', '2,876', '2,805', '3,331', '3,044', '0', '2,856', '3,540', '4,085', '3,860', '3,471', '2,460', '3,420', '3,220', '2,645', '0', '0', '2,535', '2,220', '3,541', '3,464', '0', '3,218', '2,368', '2,991', '0', '4,050', '2,420', '3,742', '2,420', '3,373', '2,978', '2,953', '2,540', '2,941', '3,640', '2,714', '2,796', '3,144', '2,810', '2,872', '3,731', '3,206', '2,968', '2,436', '4,481', '2,493', '2,621', '3,785', '2,340', '2,959', '0', '2,588', '2,809', '2,678', '2,639', '4,205', '4,095', '2,336', '0', '3,331', '0', '0', '2,664', '3,007', '2,064', '2,933', '0'] ['2.8', '3.2', '3.2', '2.8', '3.3', '2.9', '3.0', '3.7', '2.9', '0', '2.6', '3.2', '2.8', '2.9', '2.6', '2.7', '2.9', '0', '2.8', '2.8', '2.5', '3.3', '2.7', '2.9', '3.0', '3.2', '2.2', '2.9', '0', '3.3', '3.0', '3.0', '3.0', '2.7', '3.3', '2.4', '2.5', '3.0', '1.0', '2.2', '2.7', '3.0', '2.8', '2.8', '2.9', '3.1', '3.1', '2.8', '2.0', '3.0', '2.5', '2.4', '3.0', '3.2', '0', '3.4', '1.9', '3.1', '-', '2.7', '3.8', '2.5', '3.2', '2.4', '2.3', '3.0', '2.0', '2.3', '2.8', '2.8', '2.8', '3.0', '2.6', '2.1', '3.3', '2.9', '2.9', '2.9', '3.4', '2.8', '2.4', '3.0', '2.0', '2.6', '-', '2.0', '2.8', '2.9', '2.9', '3.4', '2.9', '2.6', '0', '2.5', '0', '0', '3.2', '2.9', '2.4', '2.6', '0'] ['2.4', '2.8', '2.9', '3.3', '3.3', '4.3', '2.8', '3.9', '3.3', '0', '2.6', '3.7', '4.3', '5.0', '2.9', '2.5', '3.8', '0', '1.6', '2.9', '3.0', '4.1', '-', '3.6', '3.0', '3.7', '3.0', '3.0', '0', '2.5', '3.8', '2.6', '-', '1.8', '2.2', '-', '-', '3.0', '-', '1.6', '3.3', '3.4', '2.0', '2.9', '-', '4.7', '-', '3.4', '-', '1.5', '-', '-', '-', '3.9', '0', '-', '-', '3.4', '-', '3.3', '-', '-', '2.8', '3.0', '2.8', '4.3', '-', '-', '-', '2.7', '4.2', '2.9', '3.4', '4.0', '2.0', '3.9', '1.8', '4.2', '4.0', '2.2', '3.9', '3.9', '-', '4.3', '-', '-', '2.2', '2.5', '2.6', '4.1', '4.4', '4.0', '0', '-', '0', '0', '-', '-', '1.6', '3.0', '0']

In [3]:
################  for문 테스트용 15개임
##########CSV로 저장하기

In [4]:
import csv

In [5]:
with open('company_test.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(Company_name)
    writer.writerow(jobplanet_rate_csv)
    writer.writerow(jobplanet_Welfare_Salary_csv)
    writer.writerow(jobplanet_Work_Life_csv)
    writer.writerow(jobplanet_Work_Culture_csv)
    writer.writerow(jobplanet_possible_csv)
    writer.writerow(jobplanet_Management_csv)
    writer.writerow(joplanet_Salary_1_csv)
    writer.writerow(joplanet_Salary_money_csv)
    writer.writerow(joplanet_Interview_csv)
    writer.writerow(jobplanet_Welfare_csv)

In [44]:
with open('company_rate.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_rate_csv)

In [45]:
with open('company_Welfare_Salary.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_Welfare_Salary_csv)

In [46]:
with open('company_Work_Life.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_Work_Life_csv)

In [47]:
with open('company_Work_Culture.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_Work_Culture_csv)

In [48]:
with open('company_possible.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_possible_csv)

In [49]:
with open('company_Management.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_Management_csv)

In [50]:
with open('company_Salary_1.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(joplanet_Salary_1_csv)

In [51]:
with open('company_Salary_money.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(joplanet_Salary_money_csv)

In [52]:
with open('company_Interview.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(joplanet_Interview_csv)

In [53]:
with open('company_Welfare.csv','w',newline='') as f:
    writer = csv.writer(f)
    writer.writerow(jobplanet_Welfare_csv)

In [26]:
#   jobplanet_rate_csv = []  #기업리뷰, 전체 통계
#    jobplanet_Welfare_Salary_csv = []    #기업리뷰 세분화 - 복지 및 급여
#    jobplanet_Work_Life_csv = []   #기업리뷰 세분화 - 업무와 삶의 균형
#    jobplanet_Work_Culture_csv = []   #기업리뷰 세분화 - 사내문화
#    jobplanet_possible_csv = []     #기업리뷰 세분화 - 승진 기회 및 가능성
#    jobplanet_Management_csv = []      #기업리뷰 세분화 - 경영진
#    joplanet_Salary_1_csv = []     #사원 대졸인지 확인용  - 왠지 sql에 넣을때 사원-대졸인지 확인용으로 사용될듯
#    joplanet_Salary_money_csv = []    #사원-대졸 연봉  - 만원기준
#    joplanet_Interview_csv = []      #기업 면접 난이도 - 0~5 기준이라고 출력하기
#    jobplanet_Welfare_csv = []     #기업 복지 - 전체 복지 통계
#  이걸 넣어야하는데

In [6]:
#### pandas

In [24]:
import pandas as pd
comp_review = pd.read_csv('company_test.csv', encoding = 'euc-kr')

In [25]:
company_pandas = pd.concat([comp_review], axis=1)
company_pandas
#전체 확인용

,㈜카스,㈜케이티,와디즈㈜,깨끗한나라㈜,기아㈜,㈜메쉬코리아,㈜케이씨씨,엔아이티서비스㈜,㈜신세계아이앤씨,SK D&D㈜,...,한국원자력연구원,㈜바이와이제이,주식회사 위펀,㈜골든하인드.1,주식회사 씨티티디,한국뷰로베리타스㈜씨피에스시험소,㈜메이블,KANTAR KOREA,㈜자라다교육,더이앤엠㈜
2.3,3.2,3.1,2.1,4.0,3.0,2.6,3.1,2.8,0,1.8,...,2.0,0,3.2,0,0,3.2,3.2,2.5,2.4,0
1.7,3.0,2.7,2.4,4.4,2.7,2.9,3.2,3.4,0,1.8,...,1.9,0,3.4,0,0,3.0,2.7,1.9,2.9,0
2.6,3.6,2.4,2.4,3.8,3.5,2.3,3.6,2.8,0,1.6,...,2.1,0,2.8,0,0,3.0,2.2,2.8,2.9,0
2.0,3.1,3.4,2.3,3.4,3.1,2.1,3.3,2.5,0,1.8,...,2.1,0,3.1,0,0,3.0,3.2,3.2,2.4,0
2.3,2.8,3.3,2.0,3.3,2.8,2.6,2.6,2.3,0,2.2,...,2.1,0,3.0,0,0,3.2,3.4,2.3,2.2,0
1.7,2.4,2.6,1.8,3.2,2.4,2.2,2.8,2.5,0,1.7,...,1.7,0,3.2,0,0,2.8,2.8,2.2,1.9,0
사원-대졸,사원-대졸,사원-대졸,사원-대졸,사원-대졸,사원-대졸,사원-대졸,사원-대졸,사원-대졸,0,사원-대졸,...,사원-대졸,0,사원-대졸,0,0,사원-대졸,사원-대졸,사원-대졸,사원-대졸,0
"2,852","4,018","2,839","3,588","4,835","2,964","4,007","2,928","3,861",0,"2,602",...,"2,336",0,"3,331",0,0,"2,664","3,007","2,064","2,933",0
2.8,3.2,3.2,2.8,3.3,2.9,3.0,3.7,2.9,0,2.6,...,2.6,0,2.5,0,0,3.2,2.9,2.4,2.6,0
2.4,2.8,2.9,3.3,3.3,4.3,2.8,3.9,3.3,0,2.6,...,4.0,0,-,0,0,-,-,1.6,3.0,0

In [60]:
company_rate = pd.read_csv('company_rate.csv', encoding = 'euc-kr')
company_rate = pd.concat([company_rate], axis=1)
company_rate

Empty DataFrame
Columns: [2.3, 3.2, 3.1, 2.1, 4.0, 3.0, 2.6, 3.1.1, 2.8, 0, 1.8, 3.6, 3.2.1, 2.9, 2.5, 2.2, 3.1.2, 0.1, 1.5, 3.0.1, 2.2.1, 3.8, 2.8.1, 4.4, 2.6.1, 3.6.1, 3.0.2, 2.5.1, 0.2, 2.4, 3.4, 2.7, 4.7, 2.4.1, 2.7.1, 3.7, 3.2.2, 2.6.2, 1.0, 3.6.2, 3.1.3, 3.2.3, 3.1.4, 2.7.2, 1.0.1, 3.3, 2.3.1, 2.6.3, 2.5.2, 3.2.4, 2.0, 3.0.3, 2.3.2, 3.6.3, 0.3, 2.4.2, 2.2.2, 3.1.5, 1.0.2, 2.8.2, 2.1.1, 2.7.3, 3.3.1, 2.7.4, 2.5.3, 3.6.4, 2.7.5, 2.0.1, 2.7.6, 2.5.4, 3.3.2, 2.8.3, 2.7.7, 2.1.2, 4.0.1, 3.5, 1.6, 2.2.3, 3.8.1, 1.9, 2.3.3, 3.4.1, 3.5.1, 2.9.1, 4.5, 2.8.4, 2.7.8, 1.9.1, 2.6.4, 4.0.2, 4.1, 2.0.2, 0.4, 3.2.5, 0.5, 0.6, 3.2.6, 3.2.7, 2.5.5, 2.4.3, ...]
Index: []

[0 rows x 101 columns]

In [61]:
company_Welfare_Salary = pd.read_csv('company_Welfare_Salary.csv', encoding = 'euc-kr')
company_Welfare_Salary = pd.concat([company_Welfare_Salary], axis=1)
company_Welfare_Salary

Empty DataFrame
Columns: [1.7, 3.0, 2.7, 2.4, 4.4, 2.7.1, 2.9, 3.2, 3.4, 0, 1.8, 3.7, 3.2.1, 2.9.1, 1.9, 2.5, 2.7.2, 0.1, 1.5, 3.4.1, 2.5.1, 4.1, 2.9.2, 4.2, 2.2, 3.7.1, 2.9.3, 2.7.3, 0.2, 2.0, 3.6, 2.7.4, 4.7, 2.9.4, 2.3, 3.3, 3.4.2, 2.2.1, 2.5.2, 3.1, 2.8, 3.5, 3.7.2, 2.7.5, 1.0, 3.1.1, 2.1, 2.4.1, 2.5.3, 3.6.1, 2.0.1, 2.7.6, 2.2.2, 4.0, 0.3, 3.1.2, 2.1.1, 2.9.5, 1.0.1, 3.5.1, 1.9.1, 2.6, 2.6.1, 3.0.1, 2.4.2, 3.6.2, 2.2.3, 2.2.4, 3.4.3, 2.2.5, 3.2.2, 2.5.4, 3.1.3, 2.6.2, 3.7.3, 3.8, 1.8.1, 1.9.2, 3.5.2, 1.8.2, 2.5.5, 3.5.3, 3.0.2, 2.6.3, 3.5.4, 2.9.6, 2.0.2, 1.7.1, 2.8.1, 4.4.1, 4.3, 1.9.3, 0.4, 3.4.4, 0.5, 0.6, 3.0.3, 2.7.7, 1.9.4, 2.9.7, ...]
Index: []

[0 rows x 101 columns]

In [62]:
company_Work_Life = pd.read_csv('company_Work_Life.csv', encoding = 'euc-kr')
company_Work_Life = pd.concat([company_Work_Life], axis=1)
company_Work_Life

Empty DataFrame
Columns: [2.6, 3.6, 2.4, 2.4.1, 3.8, 3.5, 2.3, 3.6.1, 2.8, 0, 1.6, 3.3, 3.3.1, 2.6.1, 3.0, 2.2, 3.5.1, 0.1, 1.5, 2.5, 2.4.2, 3.2, 2.5.1, 4.4, 2.5.2, 3.3.2, 2.6.2, 2.5.3, 0.2, 2.3.1, 3.6.2, 2.6.3, 5.0, 1.9, 3.7, 4.1, 2.8.1, 2.5.4, 2.5.5, 3.3.3, 3.5.2, 3.8.1, 2.8.2, 2.5.6, 1.0, 2.3.2, 3.3.4, 2.9, 3.0.1, 3.2.1, 2.3.3, 3.4, 2.4.3, 3.4.1, 0.3, 3.3.5, 2.6.4, 3.2.2, 1.0.1, 2.6.5, 1.7, 2.1, 3.8.2, 2.5.7, 2.9.1, 3.7.1, 2.4.4, 1.6.1, 2.6.6, 2.3.4, 2.7, 2.4.5, 2.8.3, 2.0, 4.3, 3.9, 2.0.1, 1.9.1, 4.3.1, 1.8, 1.8.1, 2.7.1, 3.0.2, 3.2.3, 3.5.3, 3.3.6, 2.5.8, 2.5.9, 2.4.6, 3.8.3, 4.2, 2.1.1, 0.4, 2.8.4, 0.5, 0.6, 3.0.3, 2.2.1, 2.8.5, 2.9.2, ...]
Index: []

[0 rows x 101 columns]

In [63]:
company_Work_Culture = pd.read_csv('company_Work_Culture.csv', encoding = 'euc-kr')
company_Work_Culture = pd.concat([company_Work_Culture], axis=1)
company_Work_Culture

Empty DataFrame
Columns: [2.0, 3.1, 3.4, 2.3, 3.4.1, 3.1.1, 2.1, 3.3, 2.5, 0, 1.8, 3.8, 3.0, 2.3.1, 2.2, 2.2.1, 3.3.1, 0.1, 1.6, 2.9, 2.0.1, 4.0, 3.0.1, 4.2, 2.5.1, 3.8.1, 2.8, 2.4, 0.2, 2.5.2, 3.3.2, 2.7, 4.3, 1.9, 2.8.1, 3.4.2, 3.1.2, 2.5.3, 1.0, 3.3.3, 3.3.4, 3.2, 3.1.3, 2.5.4, 1.0.1, 3.1.4, 2.2.2, 2.7.1, 2.5.5, 2.4.1, 2.3.2, 3.2.1, 2.6, 3.4.3, 0.3, 2.8.2, 2.2.3, 3.3.5, 1.0.2, 2.6.1, 2.2.4, 2.4.2, 3.7, 2.1.1, 2.2.5, 3.2.2, 2.6.2, 1.6.1, 2.6.3, 2.6.4, 3.3.6, 2.9.1, 2.7.2, 2.1.2, 3.5, 3.3.7, 1.8.1, 2.4.3, 4.1, 1.9.1, 2.2.6, 3.2.3, 4.0.1, 2.8.3, 3.5.1, 2.7.3, 2.9.2, 2.4.4, 2.6.5, 3.9, 3.8.2, 2.1.3, 0.4, 3.1.5, 0.5, 0.6, 3.0.2, 3.2.4, 3.2.5, 2.4.5, ...]
Index: []

[0 rows x 101 columns]

In [64]:
company_possible = pd.read_csv('company_possible.csv', encoding = 'euc-kr')
company_possible = pd.concat([company_possible], axis=1)
company_possible

Empty DataFrame
Columns: [2.3, 2.8, 3.3, 2.0, 3.3.1, 2.8.1, 2.6, 2.6.1, 2.3.1, 0, 2.2, 3.3.2, 2.8.2, 3.0, 2.3.2, 2.3.3, 2.8.3, 0.1, 1.7, 2.8.4, 2.1, 3.7, 3.4, 3.6, 2.8.5, 3.3.3, 2.9, 2.2.1, 0.2, 2.1.1, 2.5, 2.6.2, 4.3, 2.7, 2.3.4, 2.2.2, 3.0.1, 2.8.6, 2.5.1, 3.0.2, 2.7.1, 2.6.3, 3.2, 2.6.4, 1.0, 3.1, 2.2.3, 2.5.2, 3.0.3, 3.4.1, 2.3.5, 2.1.2, 2.3.6, 3.0.4, 0.3, 2.6.5, 2.5.3, 3.0.5, 1.0.1, 2.8.7, 2.1.3, 3.0.6, 2.9.1, 2.4, 1.9, 3.5, 2.7.2, 2.4.1, 2.8.8, 2.9.2, 3.2.1, 2.8.9, 3.1.1, 2.4.2, 3.0.7, 3.0.8, 1.6, 2.5.4, 3.2.2, 2.0.1, 2.7.3, 3.2.3, 4.0, 2.9.3, 3.5.1, 3.3.4, 3.0.9, 1.8, 2.0.2, 3.3.5, 3.3.6, 2.1.4, 0.4, 3.0.10, 0.5, 0.6, 3.2.4, 3.4.2, 2.3.7, 2.2.4, ...]
Index: []

[0 rows x 101 columns]

In [65]:
company_Management = pd.read_csv('company_Management.csv', encoding = 'euc-kr')
company_Management = pd.concat([company_Management], axis=1)
company_Management

Empty DataFrame
Columns: [1.7, 2.4, 2.6, 1.8, 3.2, 2.4.1, 2.2, 2.8, 2.5, 0, 1.7.1, 3.3, 2.7, 2.3, 1.8.1, 1.8.2, 2.6.1, 0.1, 1.4, 2.7.1, 2.0, 3.7, 2.6.2, 3.7.1, 2.1, 3.3.1, 2.5.1, 1.9, 0.2, 2.1.1, 2.7.2, 2.4.2, 4.7, 1.9.1, 2.2.1, 3.0, 3.2.1, 2.1.2, 1.0, 3.2.2, 2.7.3, 2.1.3, 2.6.3, 2.3.1, 1.0.1, 2.8.1, 1.7.2, 2.4.3, 3.0.1, 2.6.4, 2.0.1, 2.4.4, 1.9.2, 2.9, 0.3, 2.9.1, 2.0.2, 2.5.2, 1.0.2, 2.5.3, 2.0.3, 2.0.4, 2.9.2, 2.2.2, 2.2.3, 3.4, 2.4.5, 1.7.3, 2.5.4, 2.1.4, 2.9.3, 2.2.4, 2.0.5, 2.1.5, 3.2.3, 3.2.4, 1.5, 1.8.3, 3.0.2, 1.6, 2.0.6, 2.8.2, 3.5, 2.3.2, 3.5.1, 2.5.5, 2.2.5, 2.1.6, 2.2.6, 3.3.2, 3.2.5, 1.7.4, 0.4, 3.2.6, 0.5, 0.6, 2.8.3, 2.8.4, 2.2.7, 1.9.3, ...]
Index: []

[0 rows x 101 columns]

In [66]:
company_Salary_1 = pd.read_csv('company_Salary_1.csv', encoding = 'euc-kr')
company_Salary_1 = pd.concat([company_Salary_1], axis=1)
company_Salary_1

Empty DataFrame
Columns: [사원-대졸, 사원-대졸.1, 사원-대졸.2, 사원-대졸.3, 사원-대졸.4, 사원-대졸.5, 사원-대졸.6, 사원-대졸.7, 사원-대졸.8, 0, 사원-대졸.9, 사원-대졸.10, 사원-대졸.11, 사원-대졸.12, 사원-대졸.13, 사원-대졸.14, 사원-대졸.15, 0.1, 사원-대졸.16, 사원-대졸.17, 사원-대졸.18, 사원-대졸.19, 사원-대졸.20, 사원-대졸.21, 사원-대졸.22, 사원-대졸.23, 사원-대졸.24, 사원-대졸.25, 0.2, 사원-대졸.26, 사원-대졸.27, 사원-대졸.28, 차장, 사원-대졸.29, 사원-대졸.30, 사원-대졸.31, 사원-대졸.32, 사원-대졸.33, --, 사원-대졸.34, 사원-대졸.35, 사원-대졸.36, 사원-대졸.37, 사원-대졸.38, 사원-전문대졸, 사원-대졸.39, 사원-대졸.40, 사원-대졸.41, --.1, --.2, 사원-고졸, 사원-대졸.42, 사원-대졸.43, 사원-대졸.44, 0.3, 사원-대졸.45, 사원-대졸.46, 사원-대졸.47, --.3, 사원-대졸.48, 사원-대졸.49, 사원-대졸.50, 사원-대졸.51, 사원-대졸.52, 사원-대졸.53, 사원-대졸.54, 사원-대졸.55, 사원-대졸.56, 대리, 사원-대졸.57, 사원-대졸.58, 사원-대졸.59, 사원-대졸.60, 사원-대졸.61, 사원-대졸.62, 사원-대졸.63, 사원-대졸.64, 사원-대졸.65, 사원-대졸.66, 사원-대졸.67, 사원-대졸.68, 사원-대졸.69, 사원-전문대졸.1, 사원-대졸.70, --.4, 사원-전문대졸.2, 사원-대졸.71, 사원-대졸.72, 사원-대졸.73, 사원-대졸.74, 사원-대졸.75, 사원-대졸.76, 0.4, 사원-대졸.77, 0.5, 0.6, 사원-대졸.78, 사원-대졸.79, 사원-대졸.80, 사원-대졸.81, ...]
Index: []

[0 rows x 101 columns]

In [67]:
company_Salary_money = pd.read_csv('company_Salary_money.csv', encoding = 'euc-kr')
company_Salary_money = pd.concat([company_Salary_money], axis=1)
company_Salary_money

Empty DataFrame
Columns: [2,852, 4,018, 2,839, 3,588, 4,835, 2,964, 4,007, 2,928, 3,861, 0, 2,602, 3,096, 3,653, 3,750, 3,229, 3,518, 3,822, 0.1, 2,490, 3,391, 2,672, 3,299, 2,441, 2,445, 3,044, 3,096.1, 2,850, 3,282, 0.2, 2,979, 3,402, 3,171, 5,000, 3,447, 2,876, 2,805, 3,331, 3,044.1, 0.3, 2,856, 3,540, 4,085, 3,860, 3,471, 2,460, 3,420, 3,220, 2,645, 0.4, 0.5, 2,535, 2,220, 3,541, 3,464, 0.6, 3,218, 2,368, 2,991, 0.7, 4,050, 2,420, 3,742, 2,420.1, 3,373, 2,978, 2,953, 2,540, 2,941, 3,640, 2,714, 2,796, 3,144, 2,810, 2,872, 3,731, 3,206, 2,968, 2,436, 4,481, 2,493, 2,621, 3,785, 2,340, 2,959, 0.8, 2,588, 2,809, 2,678, 2,639, 4,205, 4,095, 2,336, 0.9, 3,331.1, 0.10, 0.11, 2,664, 3,007, 2,064, 2,933, ...]
Index: []

[0 rows x 101 columns]

In [68]:
company_Interview = pd.read_csv('company_Interview.csv', encoding = 'euc-kr')
company_Interview = pd.concat([company_Interview], axis=1)
company_Interview

Empty DataFrame
Columns: [2.8, 3.2, 3.2.1, 2.8.1, 3.3, 2.9, 3.0, 3.7, 2.9.1, 0, 2.6, 3.2.2, 2.8.2, 2.9.2, 2.6.1, 2.7, 2.9.3, 0.1, 2.8.3, 2.8.4, 2.5, 3.3.1, 2.7.1, 2.9.4, 3.0.1, 3.2.3, 2.2, 2.9.5, 0.2, 3.3.2, 3.0.2, 3.0.3, 3.0.4, 2.7.2, 3.3.3, 2.4, 2.5.1, 3.0.5, 1.0, 2.2.1, 2.7.3, 3.0.6, 2.8.5, 2.8.6, 2.9.6, 3.1, 3.1.1, 2.8.7, 2.0, 3.0.7, 2.5.2, 2.4.1, 3.0.8, 3.2.4, 0.3, 3.4, 1.9, 3.1.2, -, 2.7.4, 3.8, 2.5.3, 3.2.5, 2.4.2, 2.3, 3.0.9, 2.0.1, 2.3.1, 2.8.8, 2.8.9, 2.8.10, 3.0.10, 2.6.2, 2.1, 3.3.4, 2.9.7, 2.9.8, 2.9.9, 3.4.1, 2.8.11, 2.4.3, 3.0.11, 2.0.2, 2.6.3, -.1, 2.0.3, 2.8.12, 2.9.10, 2.9.11, 3.4.2, 2.9.12, 2.6.4, 0.4, 2.5.4, 0.5, 0.6, 3.2.6, 2.9.13, 2.4.4, 2.6.5, ...]
Index: []

[0 rows x 101 columns]

In [69]:
company_Welfare = pd.read_csv('company_Welfare.csv', encoding = 'euc-kr')
company_Welfare = pd.concat([company_Welfare], axis=1)
company_Welfare

Empty DataFrame
Columns: [2.4, 2.8, 2.9, 3.3, 3.3.1, 4.3, 2.8.1, 3.9, 3.3.2, 0, 2.6, 3.7, 4.3.1, 5.0, 2.9.1, 2.5, 3.8, 0.1, 1.6, 2.9.2, 3.0, 4.1, -, 3.6, 3.0.1, 3.7.1, 3.0.2, 3.0.3, 0.2, 2.5.1, 3.8.1, 2.6.1, -.1, 1.8, 2.2, -.2, -.3, 3.0.4, -.4, 1.6.1, 3.3.3, 3.4, 2.0, 2.9.3, -.5, 4.7, -.6, 3.4.1, -.7, 1.5, -.8, -.9, -.10, 3.9.1, 0.3, -.11, -.12, 3.4.2, -.13, 3.3.4, -.14, -.15, 2.8.2, 3.0.5, 2.8.3, 4.3.2, -.16, -.17, -.18, 2.7, 4.2, 2.9.4, 3.4.3, 4.0, 2.0.1, 3.9.2, 1.8.1, 4.2.1, 4.0.1, 2.2.1, 3.9.3, 3.9.4, -.19, 4.3.3, -.20, -.21, 2.2.2, 2.5.2, 2.6.2, 4.1.1, 4.4, 4.0.2, 0.4, -.22, 0.5, 0.6, -.23, -.24, 1.6.2, 3.0.6, ...]
Index: []

[0 rows x 101 columns]

In [6]:
df = pd.read_csv("company_rate.csv",encoding='euc-kr')
df = df.transpose()
df = pd.DataFrame(df)

jobPost = pd.concat( [pd.DataFrame(df)],axis=1 )
jobPost

jobPost.to_csv("new_company_rate.csv",mode='w')
df = pd.read_csv("new_company_rate.csv",encoding='euc-kr')
df

    Unnamed: 0
0          2.3
1          3.2
2          3.1
3          2.1
4          4.0
..         ...
96       3.2.6
97       3.2.7
98       2.5.5
99       2.4.3
100        0.7

[101 rows x 1 columns]

In [7]:
df2 = pd.read_csv("company_salary_money.csv",encoding='euc-kr')
df2 = df2.transpose()
df2
df2 = pd.DataFrame(df2)

jobPost2 = pd.concat( [pd.DataFrame(df2)],axis=1 )
jobPost2

jobPost2.to_csv("new_company_salary_money.csv",mode='w')
df2 = pd.read_csv("new_company_salary_money.csv",encoding='euc-kr')
df2

    Unnamed: 0
0        2,852
1        4,018
2        2,839
3        3,588
4        4,835
..         ...
96       2,664
97       3,007
98       2,064
99       2,933
100       0.12

[101 rows x 1 columns]